openapi: 3.0.1
info:
  title: Avaza API Documentation (clone)
  description: 'Welcome to the autogenerated documentation & test tool for Avaza''s API. <br/><br/><strong>API Security & Authentication</strong><br/>Authentication options include OAuth2 Implicit and Authorization Code flows, and Personal Access Token. All connections should be encrypted over SSL/TLS <br/><br/>You can set up and manage your api authentication credentials from within your Avaza account. (requires Administrator permissions on your Avaza account).<br/><br/> OAuth2 Authorization endpoint: https://any.avaza.com/oauth2/authorize  <br/>OAuth2 Token endpoint: https://any.avaza.com/oauth2/token<br/>Base URL for subsequent API Requests: https://api.avaza.com/ <br/><br/>Blogpost about authenticating with Avaza''s API:  https://www.avaza.com/avaza-api-oauth2-authentication/ <br/>Blogpost on using Avaza''s webhooks: https://www.avaza.com/avaza-api-webhook-notifications/<br/>The OAuth flow currently issues Access Tokens that last 1 day, and Refresh tokens that last 180 days<br/>The Api respects the security Roles assigned to the authenticating Avaza user and filters the data return appropriately. <br/><br><strong>Support</strong><br/>For API Support, and to request access please contact Avaza Support Team via our support chat. <br/><br/><strong>User Contributed Libraries:</strong><br/>Graciously contributed by 3rd party users like you. <br/>Note these are not tested or endorsesd by Avaza. We encourage you to review before use, and use at own risk.<br/> <ul><li> - <a target=''blank'' href=''https://packagist.org/packages/debiprasad/oauth2-avaza''>PHP OAuth Client Package for Azava API (by Debiprasad Sahoo)</a></li></ul>'
  version: '1.0'
servers:
  - url: https://apiminstancepeabody.azure-api.net/avaza-clone
paths:
  /api/Company:
    post:
      summary: Create a Company
      description: Create a Company
      operationId: 61af660b53306c98d14d8a8c
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCompany'
            example:
              CompanyName: string
              CurrencyCode: string
              BillingAddressLine: string
              BillingAddressCity: string
              BillingAddressState: string
              BillingAddressPostCode: string
              BillingCountryCode: string
              BillingAddress: string
              Phone: string
              Fax: string
              website: string
              TaxNumber: string
              Comments: string
          text/json:
            schema:
              $ref: '#/components/schemas/NewCompany'
            example:
              CompanyName: string
              CurrencyCode: string
              BillingAddressLine: string
              BillingAddressCity: string
              BillingAddressState: string
              BillingAddressPostCode: string
              BillingCountryCode: string
              BillingAddress: string
              Phone: string
              Fax: string
              website: string
              TaxNumber: string
              Comments: string
          application/xml:
            schema:
              $ref: '#/components/schemas/NewCompany'
            example: "<NewCompany>{\r\n  \"CompanyName\": \"string\",\r\n  \"CurrencyCode\": \"string\",\r\n  \"BillingAddressLine\": \"string\",\r\n  \"BillingAddressCity\": \"string\",\r\n  \"BillingAddressState\": \"string\",\r\n  \"BillingAddressPostCode\": \"string\",\r\n  \"BillingCountryCode\": \"string\",\r\n  \"BillingAddress\": \"string\",\r\n  \"Phone\": \"string\",\r\n  \"Fax\": \"string\",\r\n  \"website\": \"string\",\r\n  \"TaxNumber\": \"string\",\r\n  \"Comments\": \"string\"\r\n}</NewCompany>"
          text/xml:
            schema:
              $ref: '#/components/schemas/NewCompany'
            example: "<NewCompany>{\r\n  \"CompanyName\": \"string\",\r\n  \"CurrencyCode\": \"string\",\r\n  \"BillingAddressLine\": \"string\",\r\n  \"BillingAddressCity\": \"string\",\r\n  \"BillingAddressState\": \"string\",\r\n  \"BillingAddressPostCode\": \"string\",\r\n  \"BillingCountryCode\": \"string\",\r\n  \"BillingAddress\": \"string\",\r\n  \"Phone\": \"string\",\r\n  \"Fax\": \"string\",\r\n  \"website\": \"string\",\r\n  \"TaxNumber\": \"string\",\r\n  \"Comments\": \"string\"\r\n}</NewCompany>"
          application/x-www-form-urlencoded:
            schema:
              properties:
                CompanyName:
                  type: string
                CurrencyCode:
                  type: string
                BillingAddressLine:
                  type: string
                BillingAddressCity:
                  type: string
                BillingAddressState:
                  type: string
                BillingAddressPostCode:
                  type: string
                BillingCountryCode:
                  type: string
                BillingAddress:
                  type: string
                Phone:
                  type: string
                Fax:
                  type: string
                website:
                  type: string
                TaxNumber:
                  type: string
                Comments:
                  type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
              example:
                CompanyID: 0
                CompanyName: string
                BillingAddressLine: string
                BillingAddressCity: string
                BillingAddressState: string
                BillingAddressPostCode: string
                BillingCountryCode: string
                BillingAddress: string
                Phone: string
                Fax: string
                website: string
                TaxNumber: string
                Comments: string
                CurrencyCode: string
                DefaultTradingTermIDFK: 0
                DateCreated: string
                DateUpdated: string
                Contacts:
                  - ContactID: 0
                    CompanyIDFK: 0
                    CompanyName: string
                    Firstname: string
                    Lastname: string
                    Email: string
                    Phone: string
                    Mobile: string
                    PositionTitle: string
                    TimeZone: string
                    DateCreated: string
                    DateUpdated: string
            text/json:
              schema:
                $ref: '#/components/schemas/Company'
              example:
                CompanyID: 0
                CompanyName: string
                BillingAddressLine: string
                BillingAddressCity: string
                BillingAddressState: string
                BillingAddressPostCode: string
                BillingCountryCode: string
                BillingAddress: string
                Phone: string
                Fax: string
                website: string
                TaxNumber: string
                Comments: string
                CurrencyCode: string
                DefaultTradingTermIDFK: 0
                DateCreated: string
                DateUpdated: string
                Contacts:
                  - ContactID: 0
                    CompanyIDFK: 0
                    CompanyName: string
                    Firstname: string
                    Lastname: string
                    Email: string
                    Phone: string
                    Mobile: string
                    PositionTitle: string
                    TimeZone: string
                    DateCreated: string
                    DateUpdated: string
            application/xml:
              schema:
                $ref: '#/components/schemas/Company'
              example: <Company> <CompanyID>0</CompanyID> <CompanyName>string</CompanyName> <BillingAddressLine>string</BillingAddressLine> <BillingAddressCity>string</BillingAddressCity> <BillingAddressState>string</BillingAddressState> <BillingAddressPostCode>string</BillingAddressPostCode> <BillingCountryCode>string</BillingCountryCode> <BillingAddress>string</BillingAddress> <Phone>string</Phone> <Fax>string</Fax> <website>string</website> <TaxNumber>string</TaxNumber> <Comments>string</Comments> <CurrencyCode>string</CurrencyCode> <DefaultTradingTermIDFK>0</DefaultTradingTermIDFK> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> <Contacts> <ContactID>0</ContactID> <CompanyIDFK>0</CompanyIDFK> <CompanyName>string</CompanyName> <Firstname>string</Firstname> <Lastname>string</Lastname> <Email>string</Email> <Phone>string</Phone> <Mobile>string</Mobile> <PositionTitle>string</PositionTitle> <TimeZone>string</TimeZone> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> </Contacts> </Company>
            text/xml:
              schema:
                $ref: '#/components/schemas/Company'
              example: <Company> <CompanyID>0</CompanyID> <CompanyName>string</CompanyName> <BillingAddressLine>string</BillingAddressLine> <BillingAddressCity>string</BillingAddressCity> <BillingAddressState>string</BillingAddressState> <BillingAddressPostCode>string</BillingAddressPostCode> <BillingCountryCode>string</BillingCountryCode> <BillingAddress>string</BillingAddress> <Phone>string</Phone> <Fax>string</Fax> <website>string</website> <TaxNumber>string</TaxNumber> <Comments>string</Comments> <CurrencyCode>string</CurrencyCode> <DefaultTradingTermIDFK>0</DefaultTradingTermIDFK> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> <Contacts> <ContactID>0</ContactID> <CompanyIDFK>0</CompanyIDFK> <CompanyName>string</CompanyName> <Firstname>string</Firstname> <Lastname>string</Lastname> <Email>string</Email> <Phone>string</Phone> <Mobile>string</Mobile> <PositionTitle>string</PositionTitle> <TimeZone>string</TimeZone> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> </Contacts> </Company>
        '401':
          description: Unauthorized
          content:
            application/json: { }
            text/json: { }
            application/xml: { }
            text/xml: { }
    get:
      summary: Gets list of Companies
      description: Gets list of Companies
      operationId: 61af6618b96c50b158eeabc1
      parameters:
        - name: UpdatedAfter
          in: query
          description: Format - date-time (as date-time in RFC3339).
          schema:
            type: string
        - name: pageSize
          in: query
          description: Format - int32. Number of results per page
          schema:
            type: integer
        - name: pageNumber
          in: query
          description: Format - int32. 1 based page number to retrieve
          schema:
            type: integer
        - name: Sort
          in: query
          description: '(optional) Supply one of: "DateUpdated", "DateCreated", "CompanyName","DateUpdated desc","DateCreated desc", "CompanyName desc"'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyList'
              example:
                Companies:
                  - CompanyID: 0
                    CompanyName: string
                    BillingAddressLine: string
                    BillingAddressCity: string
                    BillingAddressState: string
                    BillingAddressPostCode: string
                    BillingCountryCode: string
                    BillingAddress: string
                    Phone: string
                    Fax: string
                    website: string
                    TaxNumber: string
                    Comments: string
                    CurrencyCode: string
                    DefaultTradingTermIDFK: 0
                    DateCreated: string
                    DateUpdated: string
                    Contacts:
                      - ContactID: 0
                        CompanyIDFK: 0
                        CompanyName: string
                        Firstname: string
                        Lastname: string
                        Email: string
                        Phone: string
                        Mobile: string
                        PositionTitle: string
                        TimeZone: string
                        DateCreated: string
                        DateUpdated: string
                TotalCount: 0
                PageNumber: 0
                PageSize: 0
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyList'
              example:
                Companies:
                  - CompanyID: 0
                    CompanyName: string
                    BillingAddressLine: string
                    BillingAddressCity: string
                    BillingAddressState: string
                    BillingAddressPostCode: string
                    BillingCountryCode: string
                    BillingAddress: string
                    Phone: string
                    Fax: string
                    website: string
                    TaxNumber: string
                    Comments: string
                    CurrencyCode: string
                    DefaultTradingTermIDFK: 0
                    DateCreated: string
                    DateUpdated: string
                    Contacts:
                      - ContactID: 0
                        CompanyIDFK: 0
                        CompanyName: string
                        Firstname: string
                        Lastname: string
                        Email: string
                        Phone: string
                        Mobile: string
                        PositionTitle: string
                        TimeZone: string
                        DateCreated: string
                        DateUpdated: string
                TotalCount: 0
                PageNumber: 0
                PageSize: 0
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyList'
              example: <CompanyList> <Companies> <CompanyID>0</CompanyID> <CompanyName>string</CompanyName> <BillingAddressLine>string</BillingAddressLine> <BillingAddressCity>string</BillingAddressCity> <BillingAddressState>string</BillingAddressState> <BillingAddressPostCode>string</BillingAddressPostCode> <BillingCountryCode>string</BillingCountryCode> <BillingAddress>string</BillingAddress> <Phone>string</Phone> <Fax>string</Fax> <website>string</website> <TaxNumber>string</TaxNumber> <Comments>string</Comments> <CurrencyCode>string</CurrencyCode> <DefaultTradingTermIDFK>0</DefaultTradingTermIDFK> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> <Contacts> <ContactID>0</ContactID> <CompanyIDFK>0</CompanyIDFK> <CompanyName>string</CompanyName> <Firstname>string</Firstname> <Lastname>string</Lastname> <Email>string</Email> <Phone>string</Phone> <Mobile>string</Mobile> <PositionTitle>string</PositionTitle> <TimeZone>string</TimeZone> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> </Contacts> </Companies> <TotalCount>0</TotalCount> <PageNumber>0</PageNumber> <PageSize>0</PageSize> </CompanyList>
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyList'
              example: <CompanyList> <Companies> <CompanyID>0</CompanyID> <CompanyName>string</CompanyName> <BillingAddressLine>string</BillingAddressLine> <BillingAddressCity>string</BillingAddressCity> <BillingAddressState>string</BillingAddressState> <BillingAddressPostCode>string</BillingAddressPostCode> <BillingCountryCode>string</BillingCountryCode> <BillingAddress>string</BillingAddress> <Phone>string</Phone> <Fax>string</Fax> <website>string</website> <TaxNumber>string</TaxNumber> <Comments>string</Comments> <CurrencyCode>string</CurrencyCode> <DefaultTradingTermIDFK>0</DefaultTradingTermIDFK> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> <Contacts> <ContactID>0</ContactID> <CompanyIDFK>0</CompanyIDFK> <CompanyName>string</CompanyName> <Firstname>string</Firstname> <Lastname>string</Lastname> <Email>string</Email> <Phone>string</Phone> <Mobile>string</Mobile> <PositionTitle>string</PositionTitle> <TimeZone>string</TimeZone> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> </Contacts> </Companies> <TotalCount>0</TotalCount> <PageNumber>0</PageNumber> <PageSize>0</PageSize> </CompanyList>
        '401':
          description: Unauthorized
          content:
            application/json: { }
            text/json: { }
            application/xml: { }
            text/xml: { }
    put:
      summary: Update a Company record.
      description: Requires CompanyID and a list of field names to update. The FieldsToUpdate field accepts a string array containing field names that should be updated.
      operationId: 61af661a111e7ee8b0c23453
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompany'
            example:
              CompanyID: 0
              FieldsToUpdate:
                - string
              CompanyName: string
              BillingAddressLine: string
              BillingAddressCity: string
              BillingAddressState: string
              BillingAddressPostCode: string
              BillingCountryCode: string
              BillingAddress: string
              Phone: string
              Fax: string
              website: string
              TaxNumber: string
              Comments: string
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCompany'
            example:
              CompanyID: 0
              FieldsToUpdate:
                - string
              CompanyName: string
              BillingAddressLine: string
              BillingAddressCity: string
              BillingAddressState: string
              BillingAddressPostCode: string
              BillingCountryCode: string
              BillingAddress: string
              Phone: string
              Fax: string
              website: string
              TaxNumber: string
              Comments: string
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateCompany'
            example: "<UpdateCompany>{\r\n  \"CompanyID\": 0,\r\n  \"FieldsToUpdate\": [\r\n    \"string\"\r\n  ],\r\n  \"CompanyName\": \"string\",\r\n  \"BillingAddressLine\": \"string\",\r\n  \"BillingAddressCity\": \"string\",\r\n  \"BillingAddressState\": \"string\",\r\n  \"BillingAddressPostCode\": \"string\",\r\n  \"BillingCountryCode\": \"string\",\r\n  \"BillingAddress\": \"string\",\r\n  \"Phone\": \"string\",\r\n  \"Fax\": \"string\",\r\n  \"website\": \"string\",\r\n  \"TaxNumber\": \"string\",\r\n  \"Comments\": \"string\"\r\n}</UpdateCompany>"
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateCompany'
            example: "<UpdateCompany>{\r\n  \"CompanyID\": 0,\r\n  \"FieldsToUpdate\": [\r\n    \"string\"\r\n  ],\r\n  \"CompanyName\": \"string\",\r\n  \"BillingAddressLine\": \"string\",\r\n  \"BillingAddressCity\": \"string\",\r\n  \"BillingAddressState\": \"string\",\r\n  \"BillingAddressPostCode\": \"string\",\r\n  \"BillingCountryCode\": \"string\",\r\n  \"BillingAddress\": \"string\",\r\n  \"Phone\": \"string\",\r\n  \"Fax\": \"string\",\r\n  \"website\": \"string\",\r\n  \"TaxNumber\": \"string\",\r\n  \"Comments\": \"string\"\r\n}</UpdateCompany>"
          application/x-www-form-urlencoded:
            schema:
              properties:
                CompanyID:
                  type: integer
                FieldsToUpdate:
                  type: array
                CompanyName:
                  type: string
                BillingAddressLine:
                  type: string
                BillingAddressCity:
                  type: string
                BillingAddressState:
                  type: string
                BillingAddressPostCode:
                  type: string
                BillingCountryCode:
                  type: string
                BillingAddress:
                  type: string
                Phone:
                  type: string
                Fax:
                  type: string
                website:
                  type: string
                TaxNumber:
                  type: string
                Comments:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
              example:
                CompanyID: 0
                CompanyName: string
                BillingAddressLine: string
                BillingAddressCity: string
                BillingAddressState: string
                BillingAddressPostCode: string
                BillingCountryCode: string
                BillingAddress: string
                Phone: string
                Fax: string
                website: string
                TaxNumber: string
                Comments: string
                CurrencyCode: string
                DefaultTradingTermIDFK: 0
                DateCreated: string
                DateUpdated: string
                Contacts:
                  - ContactID: 0
                    CompanyIDFK: 0
                    CompanyName: string
                    Firstname: string
                    Lastname: string
                    Email: string
                    Phone: string
                    Mobile: string
                    PositionTitle: string
                    TimeZone: string
                    DateCreated: string
                    DateUpdated: string
            text/json:
              schema:
                $ref: '#/components/schemas/Company'
              example:
                CompanyID: 0
                CompanyName: string
                BillingAddressLine: string
                BillingAddressCity: string
                BillingAddressState: string
                BillingAddressPostCode: string
                BillingCountryCode: string
                BillingAddress: string
                Phone: string
                Fax: string
                website: string
                TaxNumber: string
                Comments: string
                CurrencyCode: string
                DefaultTradingTermIDFK: 0
                DateCreated: string
                DateUpdated: string
                Contacts:
                  - ContactID: 0
                    CompanyIDFK: 0
                    CompanyName: string
                    Firstname: string
                    Lastname: string
                    Email: string
                    Phone: string
                    Mobile: string
                    PositionTitle: string
                    TimeZone: string
                    DateCreated: string
                    DateUpdated: string
            application/xml:
              schema:
                $ref: '#/components/schemas/Company'
              example: <Company> <CompanyID>0</CompanyID> <CompanyName>string</CompanyName> <BillingAddressLine>string</BillingAddressLine> <BillingAddressCity>string</BillingAddressCity> <BillingAddressState>string</BillingAddressState> <BillingAddressPostCode>string</BillingAddressPostCode> <BillingCountryCode>string</BillingCountryCode> <BillingAddress>string</BillingAddress> <Phone>string</Phone> <Fax>string</Fax> <website>string</website> <TaxNumber>string</TaxNumber> <Comments>string</Comments> <CurrencyCode>string</CurrencyCode> <DefaultTradingTermIDFK>0</DefaultTradingTermIDFK> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> <Contacts> <ContactID>0</ContactID> <CompanyIDFK>0</CompanyIDFK> <CompanyName>string</CompanyName> <Firstname>string</Firstname> <Lastname>string</Lastname> <Email>string</Email> <Phone>string</Phone> <Mobile>string</Mobile> <PositionTitle>string</PositionTitle> <TimeZone>string</TimeZone> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> </Contacts> </Company>
            text/xml:
              schema:
                $ref: '#/components/schemas/Company'
              example: <Company> <CompanyID>0</CompanyID> <CompanyName>string</CompanyName> <BillingAddressLine>string</BillingAddressLine> <BillingAddressCity>string</BillingAddressCity> <BillingAddressState>string</BillingAddressState> <BillingAddressPostCode>string</BillingAddressPostCode> <BillingCountryCode>string</BillingCountryCode> <BillingAddress>string</BillingAddress> <Phone>string</Phone> <Fax>string</Fax> <website>string</website> <TaxNumber>string</TaxNumber> <Comments>string</Comments> <CurrencyCode>string</CurrencyCode> <DefaultTradingTermIDFK>0</DefaultTradingTermIDFK> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> <Contacts> <ContactID>0</ContactID> <CompanyIDFK>0</CompanyIDFK> <CompanyName>string</CompanyName> <Firstname>string</Firstname> <Lastname>string</Lastname> <Email>string</Email> <Phone>string</Phone> <Mobile>string</Mobile> <PositionTitle>string</PositionTitle> <TimeZone>string</TimeZone> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> </Contacts> </Company>
  /api/Section:
    delete:
      summary: Delete a Section
      description: Delete a Section
      operationId: 61af660af209a0772c741369
      parameters:
        - name: SectionID
          in: query
          description: Format - int64.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSectionDelete200TextXmlResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiSectionDelete200TextXmlResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiSectionDelete200TextXmlResponse'
              example: <ApiSectionDelete200ApplicationXmlResponse />
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiSectionDelete200TextXmlResponse'
              example: <ApiSectionDelete200TextXmlResponse />
    post:
      summary: Create a Section
      description: Create a Section
      operationId: 61af660bdb32dc6a09d23117
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSection'
            example:
              ProjectIDFK: 0
              Title: string
              StartDateUTC: string
              EndDateUTC: string
          text/json:
            schema:
              $ref: '#/components/schemas/NewSection'
            example:
              ProjectIDFK: 0
              Title: string
              StartDateUTC: string
              EndDateUTC: string
          application/xml:
            schema:
              $ref: '#/components/schemas/NewSection'
            example: "<NewSection>{\r\n  \"ProjectIDFK\": 0,\r\n  \"Title\": \"string\",\r\n  \"StartDateUTC\": \"string\",\r\n  \"EndDateUTC\": \"string\"\r\n}</NewSection>"
          text/xml:
            schema:
              $ref: '#/components/schemas/NewSection'
            example: "<NewSection>{\r\n  \"ProjectIDFK\": 0,\r\n  \"Title\": \"string\",\r\n  \"StartDateUTC\": \"string\",\r\n  \"EndDateUTC\": \"string\"\r\n}</NewSection>"
          application/x-www-form-urlencoded:
            schema:
              properties:
                ProjectIDFK:
                  type: integer
                Title:
                  type: string
                StartDateUTC:
                  type: string
                EndDateUTC:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionDetails'
              example:
                SectionID: 0
                ProjectIDFK: 0
                Title: string
                DisplayOrder: 0
                StartDateUTC: string
                StartDate: string
                EndDateUTC: string
                EndDate: string
            text/json:
              schema:
                $ref: '#/components/schemas/SectionDetails'
              example:
                SectionID: 0
                ProjectIDFK: 0
                Title: string
                DisplayOrder: 0
                StartDateUTC: string
                StartDate: string
                EndDateUTC: string
                EndDate: string
            application/xml:
              schema:
                $ref: '#/components/schemas/SectionDetails'
              example: <SectionDetails> <SectionID>0</SectionID> <ProjectIDFK>0</ProjectIDFK> <Title>string</Title> <DisplayOrder>0</DisplayOrder> <StartDateUTC>string</StartDateUTC> <StartDate>string</StartDate> <EndDateUTC>string</EndDateUTC> <EndDate>string</EndDate> </SectionDetails>
            text/xml:
              schema:
                $ref: '#/components/schemas/SectionDetails'
              example: <SectionDetails> <SectionID>0</SectionID> <ProjectIDFK>0</ProjectIDFK> <Title>string</Title> <DisplayOrder>0</DisplayOrder> <StartDateUTC>string</StartDateUTC> <StartDate>string</StartDate> <EndDateUTC>string</EndDateUTC> <EndDate>string</EndDate> </SectionDetails>
    get:
      summary: Gets list of Sections
      description: Gets list of Sections
      operationId: 61af66140d5b35daa660200f
      parameters:
        - name: ProjectID
          in: query
          description: Format - int32. Get sections for Project with ProjectID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionList'
              example:
                Sections:
                  - SectionID: 0
                    ProjectIDFK: 0
                    Title: string
                    DisplayOrder: 0
                    StartDateUTC: string
                    StartDate: string
                    EndDateUTC: string
                    EndDate: string
                TotalCount: 0
            text/json:
              schema:
                $ref: '#/components/schemas/SectionList'
              example:
                Sections:
                  - SectionID: 0
                    ProjectIDFK: 0
                    Title: string
                    DisplayOrder: 0
                    StartDateUTC: string
                    StartDate: string
                    EndDateUTC: string
                    EndDate: string
                TotalCount: 0
            application/xml:
              schema:
                $ref: '#/components/schemas/SectionList'
              example: <SectionList> <Sections> <SectionID>0</SectionID> <ProjectIDFK>0</ProjectIDFK> <Title>string</Title> <DisplayOrder>0</DisplayOrder> <StartDateUTC>string</StartDateUTC> <StartDate>string</StartDate> <EndDateUTC>string</EndDateUTC> <EndDate>string</EndDate> </Sections> <TotalCount>0</TotalCount> </SectionList>
            text/xml:
              schema:
                $ref: '#/components/schemas/SectionList'
              example: <SectionList> <Sections> <SectionID>0</SectionID> <ProjectIDFK>0</ProjectIDFK> <Title>string</Title> <DisplayOrder>0</DisplayOrder> <StartDateUTC>string</StartDateUTC> <StartDate>string</StartDate> <EndDateUTC>string</EndDateUTC> <EndDate>string</EndDate> </Sections> <TotalCount>0</TotalCount> </SectionList>
        '401':
          description: Unauthorized
          content:
            application/json: { }
            text/json: { }
            application/xml: { }
            text/xml: { }
  /api/Account:
    get:
      summary: Account Details
      description: Account Details
      operationId: 61af660a8fa2f400f4df2310
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
              example:
                AccountID: 0
                CompanyName: string
                Subdomain: string
                AccountEmail: string
                hasStartEndTimesheets: true
                has24HourTimesheetFormat: true
                WeeklyTimesheetReminder: true
                LockApprovedTimesheets: true
                TimesheetDayOfWeek: 0
                TimesheetDisplayFormatCode: string
                AllowHidingCompletedTasksOnTimesheet: true
                CurrentServerTimeISO: string
                SC: string
                DefaultCurrencyCode: string
                ExpenseApprovalRequired: true
                LockApprovedExpenses: true
                BrandPrimaryColor: string
                BrandPrimaryColorLuminance: string
            text/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
              example:
                AccountID: 0
                CompanyName: string
                Subdomain: string
                AccountEmail: string
                hasStartEndTimesheets: true
                has24HourTimesheetFormat: true
                WeeklyTimesheetReminder: true
                LockApprovedTimesheets: true
                TimesheetDayOfWeek: 0
                TimesheetDisplayFormatCode: string
                AllowHidingCompletedTasksOnTimesheet: true
                CurrentServerTimeISO: string
                SC: string
                DefaultCurrencyCode: string
                ExpenseApprovalRequired: true
                LockApprovedExpenses: true
                BrandPrimaryColor: string
                BrandPrimaryColorLuminance: string
            application/xml:
              schema:
                $ref: '#/components/schemas/AccountDetails'
              example: <AccountDetails> <AccountID>0</AccountID> <CompanyName>string</CompanyName> <Subdomain>string</Subdomain> <AccountEmail>string</AccountEmail> <hasStartEndTimesheets>true</hasStartEndTimesheets> <has24HourTimesheetFormat>true</has24HourTimesheetFormat> <WeeklyTimesheetReminder>true</WeeklyTimesheetReminder> <LockApprovedTimesheets>true</LockApprovedTimesheets> <TimesheetDayOfWeek>0</TimesheetDayOfWeek> <TimesheetDisplayFormatCode>string</TimesheetDisplayFormatCode> <AllowHidingCompletedTasksOnTimesheet>true</AllowHidingCompletedTasksOnTimesheet> <CurrentServerTimeISO>string</CurrentServerTimeISO> <SC>string</SC> <DefaultCurrencyCode>string</DefaultCurrencyCode> <ExpenseApprovalRequired>true</ExpenseApprovalRequired> <LockApprovedExpenses>true</LockApprovedExpenses> <BrandPrimaryColor>string</BrandPrimaryColor> <BrandPrimaryColorLuminance>string</BrandPrimaryColorLuminance> </AccountDetails>
            text/xml:
              schema:
                $ref: '#/components/schemas/AccountDetails'
              example: <AccountDetails> <AccountID>0</AccountID> <CompanyName>string</CompanyName> <Subdomain>string</Subdomain> <AccountEmail>string</AccountEmail> <hasStartEndTimesheets>true</hasStartEndTimesheets> <has24HourTimesheetFormat>true</has24HourTimesheetFormat> <WeeklyTimesheetReminder>true</WeeklyTimesheetReminder> <LockApprovedTimesheets>true</LockApprovedTimesheets> <TimesheetDayOfWeek>0</TimesheetDayOfWeek> <TimesheetDisplayFormatCode>string</TimesheetDisplayFormatCode> <AllowHidingCompletedTasksOnTimesheet>true</AllowHidingCompletedTasksOnTimesheet> <CurrentServerTimeISO>string</CurrentServerTimeISO> <SC>string</SC> <DefaultCurrencyCode>string</DefaultCurrencyCode> <ExpenseApprovalRequired>true</ExpenseApprovalRequired> <LockApprovedExpenses>true</LockApprovedExpenses> <BrandPrimaryColor>string</BrandPrimaryColor> <BrandPrimaryColorLuminance>string</BrandPrimaryColorLuminance> </AccountDetails>
        '401':
          description: Unauthorized
          content:
            application/json: { }
            text/json: { }
            application/xml: { }
            text/xml: { }
  /api/ProjectTimesheetCategory:
    post:
      summary: Assign a TimeSheetCategory to a Project.
      description: Assign a TimeSheetCategory to a Project.
      operationId: 61af660bdde714c7c6e71038
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignProjectTimesheetCategory'
            example:
              ProjectIDFK: 0
              TimesheetCategoryIDFK: 0
              isBillable: true
              RateAmount: 0
              BudgetHours: 0
              CostAmount: 0
          text/json:
            schema:
              $ref: '#/components/schemas/AssignProjectTimesheetCategory'
            example:
              ProjectIDFK: 0
              TimesheetCategoryIDFK: 0
              isBillable: true
              RateAmount: 0
              BudgetHours: 0
              CostAmount: 0
          application/xml:
            schema:
              $ref: '#/components/schemas/AssignProjectTimesheetCategory'
            example: "<AssignProjectTimesheetCategory>{\r\n  \"ProjectIDFK\": 0,\r\n  \"TimesheetCategoryIDFK\": 0,\r\n  \"isBillable\": true,\r\n  \"RateAmount\": 0.0,\r\n  \"BudgetHours\": 0.0,\r\n  \"CostAmount\": 0.0\r\n}</AssignProjectTimesheetCategory>"
          text/xml:
            schema:
              $ref: '#/components/schemas/AssignProjectTimesheetCategory'
            example: "<AssignProjectTimesheetCategory>{\r\n  \"ProjectIDFK\": 0,\r\n  \"TimesheetCategoryIDFK\": 0,\r\n  \"isBillable\": true,\r\n  \"RateAmount\": 0.0,\r\n  \"BudgetHours\": 0.0,\r\n  \"CostAmount\": 0.0\r\n}</AssignProjectTimesheetCategory>"
          application/x-www-form-urlencoded:
            schema:
              properties:
                ProjectIDFK:
                  type: integer
                TimesheetCategoryIDFK:
                  type: integer
                isBillable:
                  type: boolean
                RateAmount:
                  type: number
                BudgetHours:
                  type: number
                CostAmount:
                  type: number
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTimesheetCategoryDetails'
              example:
                TimeSheetCategoryIDFK: 0
                AccountIDFK: 0
                ProjectIDFK: 0
                Name: string
                isBillable: true
                RateAmount: 0
                BudgetHours: 0
                CostAmount: 0
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectTimesheetCategoryDetails'
              example:
                TimeSheetCategoryIDFK: 0
                AccountIDFK: 0
                ProjectIDFK: 0
                Name: string
                isBillable: true
                RateAmount: 0
                BudgetHours: 0
                CostAmount: 0
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectTimesheetCategoryDetails'
              example: <ProjectTimesheetCategoryDetails> <TimeSheetCategoryIDFK>0</TimeSheetCategoryIDFK> <AccountIDFK>0</AccountIDFK> <ProjectIDFK>0</ProjectIDFK> <Name>string</Name> <isBillable>true</isBillable> <RateAmount>0</RateAmount> <BudgetHours>0</BudgetHours> <CostAmount>0</CostAmount> </ProjectTimesheetCategoryDetails>
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectTimesheetCategoryDetails'
              example: <ProjectTimesheetCategoryDetails> <TimeSheetCategoryIDFK>0</TimeSheetCategoryIDFK> <AccountIDFK>0</AccountIDFK> <ProjectIDFK>0</ProjectIDFK> <Name>string</Name> <isBillable>true</isBillable> <RateAmount>0</RateAmount> <BudgetHours>0</BudgetHours> <CostAmount>0</CostAmount> </ProjectTimesheetCategoryDetails>
    get:
      summary: Gets list of Project Timesheet Categories
      description: 'The default sort order is by isBillable desc, Name asc'
      operationId: 61af6614918a20295d134587
      parameters:
        - name: ProjectID
          in: query
          description: Format - int32. Get categories filtered by ProjectID
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTimesheetCategoryList'
              example:
                Categories:
                  - TimeSheetCategoryIDFK: 0
                    AccountIDFK: 0
                    ProjectIDFK: 0
                    Name: string
                    isBillable: true
                    RateAmount: 0
                    BudgetHours: 0
                    CostAmount: 0
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectTimesheetCategoryList'
              example:
                Categories:
                  - TimeSheetCategoryIDFK: 0
                    AccountIDFK: 0
                    ProjectIDFK: 0
                    Name: string
                    isBillable: true
                    RateAmount: 0
                    BudgetHours: 0
                    CostAmount: 0
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectTimesheetCategoryList'
              example: <ProjectTimesheetCategoryList> <Categories> <TimeSheetCategoryIDFK>0</TimeSheetCategoryIDFK> <AccountIDFK>0</AccountIDFK> <ProjectIDFK>0</ProjectIDFK> <Name>string</Name> <isBillable>true</isBillable> <RateAmount>0</RateAmount> <BudgetHours>0</BudgetHours> <CostAmount>0</CostAmount> </Categories> </ProjectTimesheetCategoryList>
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectTimesheetCategoryList'
              example: <ProjectTimesheetCategoryList> <Categories> <TimeSheetCategoryIDFK>0</TimeSheetCategoryIDFK> <AccountIDFK>0</AccountIDFK> <ProjectIDFK>0</ProjectIDFK> <Name>string</Name> <isBillable>true</isBillable> <RateAmount>0</RateAmount> <BudgetHours>0</BudgetHours> <CostAmount>0</CostAmount> </Categories> </ProjectTimesheetCategoryList>
        '401':
          description: Unauthorized
          content:
            application/json: { }
            text/json: { }
            application/xml: { }
            text/xml: { }
  /api/Invoice:
    post:
      summary: Create a new draft invoice
      description: Create a new draft invoice
      operationId: 61af660c11bcbe2856475a45
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewInvoice'
            example:
              TransactionPrefix: string
              InvoiceNumber: string
              CompanyIDFK: 0
              CompanyName: string
              Firstname: string
              Lastname: string
              Email: string
              CurrencyCode: string
              ExchangeRate: 0
              InvoiceTemplateIDFK: 0
              Subject: string
              CustomerPONumber: string
              DateIssued: string
              PaymentTerms: 0
              DueDate: string
              TransactionTaxConfigCode: string
              Notes: string
              LineItems:
                - InventoryItemIDFK: 0
                  InventoryItemName: string
                  Description: string
                  Quantity: 0
                  UnitPrice: 0
                  TaxIDFK: 0
                  TaxName: string
                  TaxPercent: 0
                  Discount: 0
                  ProjectIDFK: 0
          text/json:
            schema:
              $ref: '#/components/schemas/NewInvoice'
            example:
              TransactionPrefix: string
              InvoiceNumber: string
              CompanyIDFK: 0
              CompanyName: string
              Firstname: string
              Lastname: string
              Email: string
              CurrencyCode: string
              ExchangeRate: 0
              InvoiceTemplateIDFK: 0
              Subject: string
              CustomerPONumber: string
              DateIssued: string
              PaymentTerms: 0
              DueDate: string
              TransactionTaxConfigCode: string
              Notes: string
              LineItems:
                - InventoryItemIDFK: 0
                  InventoryItemName: string
                  Description: string
                  Quantity: 0
                  UnitPrice: 0
                  TaxIDFK: 0
                  TaxName: string
                  TaxPercent: 0
                  Discount: 0
                  ProjectIDFK: 0
          application/xml:
            schema:
              $ref: '#/components/schemas/NewInvoice'
            example: "<NewInvoice>{\r\n  \"TransactionPrefix\": \"string\",\r\n  \"InvoiceNumber\": \"string\",\r\n  \"CompanyIDFK\": 0,\r\n  \"CompanyName\": \"string\",\r\n  \"Firstname\": \"string\",\r\n  \"Lastname\": \"string\",\r\n  \"Email\": \"string\",\r\n  \"CurrencyCode\": \"string\",\r\n  \"ExchangeRate\": 0.0,\r\n  \"InvoiceTemplateIDFK\": 0,\r\n  \"Subject\": \"string\",\r\n  \"CustomerPONumber\": \"string\",\r\n  \"DateIssued\": \"string\",\r\n  \"PaymentTerms\": 0,\r\n  \"DueDate\": \"string\",\r\n  \"TransactionTaxConfigCode\": \"string\",\r\n  \"Notes\": \"string\",\r\n  \"LineItems\": [\r\n    {\r\n      \"InventoryItemIDFK\": 0,\r\n      \"InventoryItemName\": \"string\",\r\n      \"Description\": \"string\",\r\n      \"Quantity\": 0,\r\n      \"UnitPrice\": 0,\r\n      \"TaxIDFK\": 0,\r\n      \"TaxName\": \"string\",\r\n      \"TaxPercent\": 0,\r\n      \"Discount\": 0,\r\n      \"ProjectIDFK\": 0\r\n    }\r\n  ]\r\n}</NewInvoice>"
          text/xml:
            schema:
              $ref: '#/components/schemas/NewInvoice'
            example: "<NewInvoice>{\r\n  \"TransactionPrefix\": \"string\",\r\n  \"InvoiceNumber\": \"string\",\r\n  \"CompanyIDFK\": 0,\r\n  \"CompanyName\": \"string\",\r\n  \"Firstname\": \"string\",\r\n  \"Lastname\": \"string\",\r\n  \"Email\": \"string\",\r\n  \"CurrencyCode\": \"string\",\r\n  \"ExchangeRate\": 0.0,\r\n  \"InvoiceTemplateIDFK\": 0,\r\n  \"Subject\": \"string\",\r\n  \"CustomerPONumber\": \"string\",\r\n  \"DateIssued\": \"string\",\r\n  \"PaymentTerms\": 0,\r\n  \"DueDate\": \"string\",\r\n  \"TransactionTaxConfigCode\": \"string\",\r\n  \"Notes\": \"string\",\r\n  \"LineItems\": [\r\n    {\r\n      \"InventoryItemIDFK\": 0,\r\n      \"InventoryItemName\": \"string\",\r\n      \"Description\": \"string\",\r\n      \"Quantity\": 0,\r\n      \"UnitPrice\": 0,\r\n      \"TaxIDFK\": 0,\r\n      \"TaxName\": \"string\",\r\n      \"TaxPercent\": 0,\r\n      \"Discount\": 0,\r\n      \"ProjectIDFK\": 0\r\n    }\r\n  ]\r\n}</NewInvoice>"
          application/x-www-form-urlencoded:
            schema:
              properties:
                TransactionPrefix:
                  type: string
                InvoiceNumber:
                  type: string
                CompanyIDFK:
                  type: integer
                CompanyName:
                  type: string
                Firstname:
                  type: string
                Lastname:
                  type: string
                Email:
                  type: string
                CurrencyCode:
                  type: string
                ExchangeRate:
                  type: number
                InvoiceTemplateIDFK:
                  type: integer
                Subject:
                  type: string
                CustomerPONumber:
                  type: string
                DateIssued:
                  type: string
                PaymentTerms:
                  type: integer
                DueDate:
                  type: string
                TransactionTaxConfigCode:
                  type: string
                Notes:
                  type: string
                LineItems:
                  type: array
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
              example:
                TransactionID: 0
                AccountIDFK: 0
                TransactionPrefix: string
                InvoiceNumber: string
                CompanyIDFK: 0
                CompanyName: string
                Subject: string
                DateIssued: string
                DateSent: string
                DueDate: string
                TransactionStatusCode: string
                TaxAmount: 0
                TransactionTaxConfigCode: string
                Balance: 0
                CurrencyCode: string
                TotalAmount: 0
                ExchangeRate: 0
                Notes: string
                CustomerPONumber: string
                DateCreated: string
                DateUpdated: string
                LineItems:
                  - TransactionLineItemID: 0
                    InventoryItemIDFK: 0
                    InventoryItemName: string
                    InventoryItemSKU: string
                    Description: string
                    Quantity: 0
                    UnitPrice: 0
                    TaxAmount: 0
                    TaxIDFK: 0
                    TaxCode: string
                    TaxName: string
                    ProjectIDFK: 0
                    ProjectTitle: string
                    Amount: 0
                    Discount: 0
                Links:
                  ClientView: string
                  View: string
                  Edit: string
                Issuer:
                  BillingAddress: string
                  BillingAddressLine: string
                  BillingAddressCity: string
                  BillingAddressState: string
                  BillingAddressPostCode: string
                  BillingCountryCode: string
                  TaxNumber: string
                Recipient:
                  CompanyIDFK: 0
                  CompanyName: string
                  RecipientFormattedBillingAddress: string
                  RecipientBillingAddressLine: string
                  RecipientBillingAddressCity: string
                  RecipientBillingAddressState: string
                  RecipientBillingAddressPostCode: string
                  RecipientBillingAddressCountryCode: string
            text/json:
              schema:
                $ref: '#/components/schemas/Invoice'
              example:
                TransactionID: 0
                AccountIDFK: 0
                TransactionPrefix: string
                InvoiceNumber: string
                CompanyIDFK: 0
                CompanyName: string
                Subject: string
                DateIssued: string
                DateSent: string
                DueDate: string
                TransactionStatusCode: string
                TaxAmount: 0
                TransactionTaxConfigCode: string
                Balance: 0
                CurrencyCode: string
                TotalAmount: 0
                ExchangeRate: 0
                Notes: string
                CustomerPONumber: string
                DateCreated: string
                DateUpdated: string
                LineItems:
                  - TransactionLineItemID: 0
                    InventoryItemIDFK: 0
                    InventoryItemName: string
                    InventoryItemSKU: string
                    Description: string
                    Quantity: 0
                    UnitPrice: 0
                    TaxAmount: 0
                    TaxIDFK: 0
                    TaxCode: string
                    TaxName: string
                    ProjectIDFK: 0
                    ProjectTitle: string
                    Amount: 0
                    Discount: 0
                Links:
                  ClientView: string
                  View: string
                  Edit: string
                Issuer:
                  BillingAddress: string
                  BillingAddressLine: string
                  BillingAddressCity: string
                  BillingAddressState: string
                  BillingAddressPostCode: string
                  BillingCountryCode: string
                  TaxNumber: string
                Recipient:
                  CompanyIDFK: 0
                  CompanyName: string
                  RecipientFormattedBillingAddress: string
                  RecipientBillingAddressLine: string
                  RecipientBillingAddressCity: string
                  RecipientBillingAddressState: string
                  RecipientBillingAddressPostCode: string
                  RecipientBillingAddressCountryCode: string
            application/xml:
              schema:
                $ref: '#/components/schemas/Invoice'
              example: <Invoice> <TransactionID>0</TransactionID> <AccountIDFK>0</AccountIDFK> <TransactionPrefix>string</TransactionPrefix> <InvoiceNumber>string</InvoiceNumber> <CompanyIDFK>0</CompanyIDFK> <CompanyName>string</CompanyName> <Subject>string</Subject> <DateIssued>string</DateIssued> <DateSent>string</DateSent> <DueDate>string</DueDate> <TransactionStatusCode>string</TransactionStatusCode> <TaxAmount>0</TaxAmount> <TransactionTaxConfigCode>string</TransactionTaxConfigCode> <Balance>0</Balance> <CurrencyCode>string</CurrencyCode> <TotalAmount>0</TotalAmount> <ExchangeRate>0</ExchangeRate> <Notes>string</Notes> <CustomerPONumber>string</CustomerPONumber> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> <LineItems> <TransactionLineItemID>0</TransactionLineItemID> <InventoryItemIDFK>0</InventoryItemIDFK> <InventoryItemName>string</InventoryItemName> <InventoryItemSKU>string</InventoryItemSKU> <Description>string</Description> <Quantity>0</Quantity> <UnitPrice>0</UnitPrice> <TaxAmount>0</TaxAmount> <TaxIDFK>0</TaxIDFK> <TaxCode>string</TaxCode> <TaxName>string</TaxName> <ProjectIDFK>0</ProjectIDFK> <ProjectTitle>string</ProjectTitle> <Amount>0</Amount> <Discount>0</Discount> </LineItems> <Links> <ClientView>string</ClientView> <View>string</View> <Edit>string</Edit> </Links> <Issuer> <BillingAddress>string</BillingAddress> <BillingAddressLine>string</BillingAddressLine> <BillingAddressCity>string</BillingAddressCity> <BillingAddressState>string</BillingAddressState> <BillingAddressPostCode>string</BillingAddressPostCode> <BillingCountryCode>string</BillingCountryCode> <TaxNumber>string</TaxNumber> </Issuer> <Recipient> <CompanyIDFK>0</CompanyIDFK> <CompanyName>string</CompanyName> <RecipientFormattedBillingAddress>string</RecipientFormattedBillingAddress> <RecipientBillingAddressLine>string</RecipientBillingAddressLine> <RecipientBillingAddressCity>string</RecipientBillingAddressCity> <RecipientBillingAddressState>string</RecipientBillingAddressState> <RecipientBillingAddressPostCode>string</RecipientBillingAddressPostCode> <RecipientBillingAddressCountryCode>string</RecipientBillingAddressCountryCode> </Recipient> </Invoice>
            text/xml:
              schema:
                $ref: '#/components/schemas/Invoice'
              example: <Invoice> <TransactionID>0</TransactionID> <AccountIDFK>0</AccountIDFK> <TransactionPrefix>string</TransactionPrefix> <InvoiceNumber>string</InvoiceNumber> <CompanyIDFK>0</CompanyIDFK> <CompanyName>string</CompanyName> <Subject>string</Subject> <DateIssued>string</DateIssued> <DateSent>string</DateSent> <DueDate>string</DueDate> <TransactionStatusCode>string</TransactionStatusCode> <TaxAmount>0</TaxAmount> <TransactionTaxConfigCode>string</TransactionTaxConfigCode> <Balance>0</Balance> <CurrencyCode>string</CurrencyCode> <TotalAmount>0</TotalAmount> <ExchangeRate>0</ExchangeRate> <Notes>string</Notes> <CustomerPONumber>string</CustomerPONumber> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> <LineItems> <TransactionLineItemID>0</TransactionLineItemID> <InventoryItemIDFK>0</InventoryItemIDFK> <InventoryItemName>string</InventoryItemName> <InventoryItemSKU>string</InventoryItemSKU> <Description>string</Description> <Quantity>0</Quantity> <UnitPrice>0</UnitPrice> <TaxAmount>0</TaxAmount> <TaxIDFK>0</TaxIDFK> <TaxCode>string</TaxCode> <TaxName>string</TaxName> <ProjectIDFK>0</ProjectIDFK> <ProjectTitle>string</ProjectTitle> <Amount>0</Amount> <Discount>0</Discount> </LineItems> <Links> <ClientView>string</ClientView> <View>string</View> <Edit>string</Edit> </Links> <Issuer> <BillingAddress>string</BillingAddress> <BillingAddressLine>string</BillingAddressLine> <BillingAddressCity>string</BillingAddressCity> <BillingAddressState>string</BillingAddressState> <BillingAddressPostCode>string</BillingAddressPostCode> <BillingCountryCode>string</BillingCountryCode> <TaxNumber>string</TaxNumber> </Issuer> <Recipient> <CompanyIDFK>0</CompanyIDFK> <CompanyName>string</CompanyName> <RecipientFormattedBillingAddress>string</RecipientFormattedBillingAddress> <RecipientBillingAddressLine>string</RecipientBillingAddressLine> <RecipientBillingAddressCity>string</RecipientBillingAddressCity> <RecipientBillingAddressState>string</RecipientBillingAddressState> <RecipientBillingAddressPostCode>string</RecipientBillingAddressPostCode> <RecipientBillingAddressCountryCode>string</RecipientBillingAddressCountryCode> </Recipient> </Invoice>
    get:
      summary: Gets list of Invoices
      description: 'TransactionStatusCode values are: "Draft", "Sent", "Late", "Paid", "Partial", "Void"'
      operationId: 61af66163938c852936fb4cc
      parameters:
        - name: UpdatedAfter
          in: query
          description: Format - date-time (as date-time in RFC3339).
          schema:
            type: string
        - name: pageSize
          in: query
          description: Format - int32. Number of items per page (max 1000)
          schema:
            type: integer
        - name: pageNumber
          in: query
          description: Format - int32. Page to display. Starts from 1.
          schema:
            type: integer
        - name: Sort
          in: query
          schema:
            type: string
        - name: CompanyIDFK
          in: query
          description: Format - int32.
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceList'
              example:
                TotalCount: 0
                PageNumber: 0
                PageSize: 0
                Invoices:
                  - TransactionID: 0
                    AccountIDFK: 0
                    TransactionPrefix: string
                    InvoiceNumber: string
                    CompanyIDFK: 0
                    CompanyName: string
                    Subject: string
                    DateIssued: string
                    DateSent: string
                    DueDate: string
                    TransactionStatusCode: string
                    TaxAmount: 0
                    TransactionTaxConfigCode: string
                    Balance: 0
                    CurrencyCode: string
                    TotalAmount: 0
                    ExchangeRate: 0
                    Notes: string
                    CustomerPONumber: string
                    DateCreated: string
                    DateUpdated: string
                    LineItems:
                      - TransactionLineItemID: 0
                        InventoryItemIDFK: 0
                        InventoryItemName: string
                        InventoryItemSKU: string
                        Description: string
                        Quantity: 0
                        UnitPrice: 0
                        TaxAmount: 0
                        TaxIDFK: 0
                        TaxCode: string
                        TaxName: string
                        ProjectIDFK: 0
                        ProjectTitle: string
                        Amount: 0
                        Discount: 0
                    Links:
                      ClientView: string
                      View: string
                      Edit: string
                    Issuer:
                      BillingAddress: string
                      BillingAddressLine: string
                      BillingAddressCity: string
                      BillingAddressState: string
                      BillingAddressPostCode: string
                      BillingCountryCode: string
                      TaxNumber: string
                    Recipient:
                      CompanyIDFK: 0
                      CompanyName: string
                      RecipientFormattedBillingAddress: string
                      RecipientBillingAddressLine: string
                      RecipientBillingAddressCity: string
                      RecipientBillingAddressState: string
                      RecipientBillingAddressPostCode: string
                      RecipientBillingAddressCountryCode: string
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceList'
              example:
                TotalCount: 0
                PageNumber: 0
                PageSize: 0
                Invoices:
                  - TransactionID: 0
                    AccountIDFK: 0
                    TransactionPrefix: string
                    InvoiceNumber: string
                    CompanyIDFK: 0
                    CompanyName: string
                    Subject: string
                    DateIssued: string
                    DateSent: string
                    DueDate: string
                    TransactionStatusCode: string
                    TaxAmount: 0
                    TransactionTaxConfigCode: string
                    Balance: 0
                    CurrencyCode: string
                    TotalAmount: 0
                    ExchangeRate: 0
                    Notes: string
                    CustomerPONumber: string
                    DateCreated: string
                    DateUpdated: string
                    LineItems:
                      - TransactionLineItemID: 0
                        InventoryItemIDFK: 0
                        InventoryItemName: string
                        InventoryItemSKU: string
                        Description: string
                        Quantity: 0
                        UnitPrice: 0
                        TaxAmount: 0
                        TaxIDFK: 0
                        TaxCode: string
                        TaxName: string
                        ProjectIDFK: 0
                        ProjectTitle: string
                        Amount: 0
                        Discount: 0
                    Links:
                      ClientView: string
                      View: string
                      Edit: string
                    Issuer:
                      BillingAddress: string
                      BillingAddressLine: string
                      BillingAddressCity: string
                      BillingAddressState: string
                      BillingAddressPostCode: string
                      BillingCountryCode: string
                      TaxNumber: string
                    Recipient:
                      CompanyIDFK: 0
                      CompanyName: string
                      RecipientFormattedBillingAddress: string
                      RecipientBillingAddressLine: string
                      RecipientBillingAddressCity: string
                      RecipientBillingAddressState: string
                      RecipientBillingAddressPostCode: string
                      RecipientBillingAddressCountryCode: string
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceList'
              example: <InvoiceList> <TotalCount>0</TotalCount> <PageNumber>0</PageNumber> <PageSize>0</PageSize> <Invoices> <TransactionID>0</TransactionID> <AccountIDFK>0</AccountIDFK> <TransactionPrefix>string</TransactionPrefix> <InvoiceNumber>string</InvoiceNumber> <CompanyIDFK>0</CompanyIDFK> <CompanyName>string</CompanyName> <Subject>string</Subject> <DateIssued>string</DateIssued> <DateSent>string</DateSent> <DueDate>string</DueDate> <TransactionStatusCode>string</TransactionStatusCode> <TaxAmount>0</TaxAmount> <TransactionTaxConfigCode>string</TransactionTaxConfigCode> <Balance>0</Balance> <CurrencyCode>string</CurrencyCode> <TotalAmount>0</TotalAmount> <ExchangeRate>0</ExchangeRate> <Notes>string</Notes> <CustomerPONumber>string</CustomerPONumber> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> <LineItems> <TransactionLineItemID>0</TransactionLineItemID> <InventoryItemIDFK>0</InventoryItemIDFK> <InventoryItemName>string</InventoryItemName> <InventoryItemSKU>string</InventoryItemSKU> <Description>string</Description> <Quantity>0</Quantity> <UnitPrice>0</UnitPrice> <TaxAmount>0</TaxAmount> <TaxIDFK>0</TaxIDFK> <TaxCode>string</TaxCode> <TaxName>string</TaxName> <ProjectIDFK>0</ProjectIDFK> <ProjectTitle>string</ProjectTitle> <Amount>0</Amount> <Discount>0</Discount> </LineItems> <Links> <ClientView>string</ClientView> <View>string</View> <Edit>string</Edit> </Links> <Issuer> <BillingAddress>string</BillingAddress> <BillingAddressLine>string</BillingAddressLine> <BillingAddressCity>string</BillingAddressCity> <BillingAddressState>string</BillingAddressState> <BillingAddressPostCode>string</BillingAddressPostCode> <BillingCountryCode>string</BillingCountryCode> <TaxNumber>string</TaxNumber> </Issuer> <Recipient> <CompanyIDFK>0</CompanyIDFK> <CompanyName>string</CompanyName> <RecipientFormattedBillingAddress>string</RecipientFormattedBillingAddress> <RecipientBillingAddressLine>string</RecipientBillingAddressLine> <RecipientBillingAddressCity>string</RecipientBillingAddressCity> <RecipientBillingAddressState>string</RecipientBillingAddressState> <RecipientBillingAddressPostCode>string</RecipientBillingAddressPostCode> <RecipientBillingAddressCountryCode>string</RecipientBillingAddressCountryCode> </Recipient> </Invoices> </InvoiceList>
            text/xml:
              schema:
                $ref: '#/components/schemas/InvoiceList'
              example: <InvoiceList> <TotalCount>0</TotalCount> <PageNumber>0</PageNumber> <PageSize>0</PageSize> <Invoices> <TransactionID>0</TransactionID> <AccountIDFK>0</AccountIDFK> <TransactionPrefix>string</TransactionPrefix> <InvoiceNumber>string</InvoiceNumber> <CompanyIDFK>0</CompanyIDFK> <CompanyName>string</CompanyName> <Subject>string</Subject> <DateIssued>string</DateIssued> <DateSent>string</DateSent> <DueDate>string</DueDate> <TransactionStatusCode>string</TransactionStatusCode> <TaxAmount>0</TaxAmount> <TransactionTaxConfigCode>string</TransactionTaxConfigCode> <Balance>0</Balance> <CurrencyCode>string</CurrencyCode> <TotalAmount>0</TotalAmount> <ExchangeRate>0</ExchangeRate> <Notes>string</Notes> <CustomerPONumber>string</CustomerPONumber> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> <LineItems> <TransactionLineItemID>0</TransactionLineItemID> <InventoryItemIDFK>0</InventoryItemIDFK> <InventoryItemName>string</InventoryItemName> <InventoryItemSKU>string</InventoryItemSKU> <Description>string</Description> <Quantity>0</Quantity> <UnitPrice>0</UnitPrice> <TaxAmount>0</TaxAmount> <TaxIDFK>0</TaxIDFK> <TaxCode>string</TaxCode> <TaxName>string</TaxName> <ProjectIDFK>0</ProjectIDFK> <ProjectTitle>string</ProjectTitle> <Amount>0</Amount> <Discount>0</Discount> </LineItems> <Links> <ClientView>string</ClientView> <View>string</View> <Edit>string</Edit> </Links> <Issuer> <BillingAddress>string</BillingAddress> <BillingAddressLine>string</BillingAddressLine> <BillingAddressCity>string</BillingAddressCity> <BillingAddressState>string</BillingAddressState> <BillingAddressPostCode>string</BillingAddressPostCode> <BillingCountryCode>string</BillingCountryCode> <TaxNumber>string</TaxNumber> </Issuer> <Recipient> <CompanyIDFK>0</CompanyIDFK> <CompanyName>string</CompanyName> <RecipientFormattedBillingAddress>string</RecipientFormattedBillingAddress> <RecipientBillingAddressLine>string</RecipientBillingAddressLine> <RecipientBillingAddressCity>string</RecipientBillingAddressCity> <RecipientBillingAddressState>string</RecipientBillingAddressState> <RecipientBillingAddressPostCode>string</RecipientBillingAddressPostCode> <RecipientBillingAddressCountryCode>string</RecipientBillingAddressCountryCode> </Recipient> </Invoices> </InvoiceList>
        '401':
          description: Unauthorized
          content:
            application/json: { }
            text/json: { }
            application/xml: { }
            text/xml: { }
  /api/ProjectMember:
    post:
      summary: Assign a user as a Member of a Project
      description: 'the Amount columns for Cost, Budget, Rates should be specified as a decimal. Financial amounts assume the currency of the Customer company. Budget units depend on the Budget method set on the Project.'
      operationId: 61af660b6e738f5ed82b6b2d
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewProjectMember'
            example:
              isProjectManager: true
              isTimesheetAllowed: true
              isTimesheetApprover: true
              isTimesheetApprovalRequired: true
              canCreateTasks: true
              canDeleteTasks: true
              canCommentOnTasks: true
              canUpdateTasks: true
              ProjectIDFK: 0
              UserIDFK: 0
              CostAmount: 0
              RateAmount: 0
              BudgetAmount: 0
          text/json:
            schema:
              $ref: '#/components/schemas/NewProjectMember'
            example:
              isProjectManager: true
              isTimesheetAllowed: true
              isTimesheetApprover: true
              isTimesheetApprovalRequired: true
              canCreateTasks: true
              canDeleteTasks: true
              canCommentOnTasks: true
              canUpdateTasks: true
              ProjectIDFK: 0
              UserIDFK: 0
              CostAmount: 0
              RateAmount: 0
              BudgetAmount: 0
          application/xml:
            schema:
              $ref: '#/components/schemas/NewProjectMember'
            example: "<NewProjectMember>{\r\n  \"isProjectManager\": true,\r\n  \"isTimesheetAllowed\": true,\r\n  \"isTimesheetApprover\": true,\r\n  \"isTimesheetApprovalRequired\": true,\r\n  \"canCreateTasks\": true,\r\n  \"canDeleteTasks\": true,\r\n  \"canCommentOnTasks\": true,\r\n  \"canUpdateTasks\": true,\r\n  \"ProjectIDFK\": 0,\r\n  \"UserIDFK\": 0,\r\n  \"CostAmount\": 0.0,\r\n  \"RateAmount\": 0.0,\r\n  \"BudgetAmount\": 0.0\r\n}</NewProjectMember>"
          text/xml:
            schema:
              $ref: '#/components/schemas/NewProjectMember'
            example: "<NewProjectMember>{\r\n  \"isProjectManager\": true,\r\n  \"isTimesheetAllowed\": true,\r\n  \"isTimesheetApprover\": true,\r\n  \"isTimesheetApprovalRequired\": true,\r\n  \"canCreateTasks\": true,\r\n  \"canDeleteTasks\": true,\r\n  \"canCommentOnTasks\": true,\r\n  \"canUpdateTasks\": true,\r\n  \"ProjectIDFK\": 0,\r\n  \"UserIDFK\": 0,\r\n  \"CostAmount\": 0.0,\r\n  \"RateAmount\": 0.0,\r\n  \"BudgetAmount\": 0.0\r\n}</NewProjectMember>"
          application/x-www-form-urlencoded:
            schema:
              properties:
                isProjectManager:
                  type: boolean
                isTimesheetAllowed:
                  type: boolean
                isTimesheetApprover:
                  type: boolean
                isTimesheetApprovalRequired:
                  type: boolean
                canCreateTasks:
                  type: boolean
                canDeleteTasks:
                  type: boolean
                canCommentOnTasks:
                  type: boolean
                canUpdateTasks:
                  type: boolean
                ProjectIDFK:
                  type: integer
                UserIDFK:
                  type: integer
                CostAmount:
                  type: number
                RateAmount:
                  type: number
                BudgetAmount:
                  type: number
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMemberDetails'
              example:
                UserIDFK: 0
                Firstname: string
                Lastname: string
                Fullname: string
                Email: string
                CostAmount: 0
                RateAmount: 0
                BudgetAmount: 0
                isMemberDisabled: true
                isProjectManager: true
                isTimesheetAllowed: true
                isTimesheetApprover: true
                isTimesheetApprovalRequired: true
                canCreateTasks: true
                canDeleteTasks: true
                canCommentOnTasks: true
                canUpdateTasks: true
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectMemberDetails'
              example:
                UserIDFK: 0
                Firstname: string
                Lastname: string
                Fullname: string
                Email: string
                CostAmount: 0
                RateAmount: 0
                BudgetAmount: 0
                isMemberDisabled: true
                isProjectManager: true
                isTimesheetAllowed: true
                isTimesheetApprover: true
                isTimesheetApprovalRequired: true
                canCreateTasks: true
                canDeleteTasks: true
                canCommentOnTasks: true
                canUpdateTasks: true
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectMemberDetails'
              example: <ProjectMemberDetails> <UserIDFK>0</UserIDFK> <Firstname>string</Firstname> <Lastname>string</Lastname> <Fullname>string</Fullname> <Email>string</Email> <CostAmount>0</CostAmount> <RateAmount>0</RateAmount> <BudgetAmount>0</BudgetAmount> <isMemberDisabled>true</isMemberDisabled> <isProjectManager>true</isProjectManager> <isTimesheetAllowed>true</isTimesheetAllowed> <isTimesheetApprover>true</isTimesheetApprover> <isTimesheetApprovalRequired>true</isTimesheetApprovalRequired> <canCreateTasks>true</canCreateTasks> <canDeleteTasks>true</canDeleteTasks> <canCommentOnTasks>true</canCommentOnTasks> <canUpdateTasks>true</canUpdateTasks> </ProjectMemberDetails>
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectMemberDetails'
              example: <ProjectMemberDetails> <UserIDFK>0</UserIDFK> <Firstname>string</Firstname> <Lastname>string</Lastname> <Fullname>string</Fullname> <Email>string</Email> <CostAmount>0</CostAmount> <RateAmount>0</RateAmount> <BudgetAmount>0</BudgetAmount> <isMemberDisabled>true</isMemberDisabled> <isProjectManager>true</isProjectManager> <isTimesheetAllowed>true</isTimesheetAllowed> <isTimesheetApprover>true</isTimesheetApprover> <isTimesheetApprovalRequired>true</isTimesheetApprovalRequired> <canCreateTasks>true</canCreateTasks> <canDeleteTasks>true</canDeleteTasks> <canCommentOnTasks>true</canCommentOnTasks> <canUpdateTasks>true</canUpdateTasks> </ProjectMemberDetails>
  '/api/CreditNote/{id}':
    get:
      summary: Gets Credit Note by CreditNoteID
      description: Gets Credit Note by CreditNoteID
      operationId: 61af660c064b72e5183b9769
      parameters:
        - name: id
          in: path
          description: Format - int64. Credit Note ID Number
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
              example:
                TransactionID: 0
                TransactionPrefix: string
                CreditNoteNumber: string
                CustomerIDFK: 0
                DateIssued: string
                TransactionStatusCode: string
                Balance: 0
                CurrencyCode: string
                TotalAmount: 0
                Notes: string
                DateCreated: string
                DateUpdated: string
                CreditNoteAllocations:
                  - TransactionAllocationID: 0
                    InvoiceTransactionIDFK: 0
                    CreditNoteTransactionIDFK: 0
                    AllocationDate: string
                    AllocationAmount: 0
                CreditNoteLineItems:
                  - TransactionLineItemID: 0
                    Description: string
                    Quantity: 0
                    UnitPrice: 0
                    TaxAmount: 0
                    TaxIDFK: 0
                    Amount: 0
                    Discount: 0
            text/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
              example:
                TransactionID: 0
                TransactionPrefix: string
                CreditNoteNumber: string
                CustomerIDFK: 0
                DateIssued: string
                TransactionStatusCode: string
                Balance: 0
                CurrencyCode: string
                TotalAmount: 0
                Notes: string
                DateCreated: string
                DateUpdated: string
                CreditNoteAllocations:
                  - TransactionAllocationID: 0
                    InvoiceTransactionIDFK: 0
                    CreditNoteTransactionIDFK: 0
                    AllocationDate: string
                    AllocationAmount: 0
                CreditNoteLineItems:
                  - TransactionLineItemID: 0
                    Description: string
                    Quantity: 0
                    UnitPrice: 0
                    TaxAmount: 0
                    TaxIDFK: 0
                    Amount: 0
                    Discount: 0
            application/xml:
              schema:
                $ref: '#/components/schemas/CreditNote'
              example: <CreditNote> <TransactionID>0</TransactionID> <TransactionPrefix>string</TransactionPrefix> <CreditNoteNumber>string</CreditNoteNumber> <CustomerIDFK>0</CustomerIDFK> <DateIssued>string</DateIssued> <TransactionStatusCode>string</TransactionStatusCode> <Balance>0</Balance> <CurrencyCode>string</CurrencyCode> <TotalAmount>0</TotalAmount> <Notes>string</Notes> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> <CreditNoteAllocations> <TransactionAllocationID>0</TransactionAllocationID> <InvoiceTransactionIDFK>0</InvoiceTransactionIDFK> <CreditNoteTransactionIDFK>0</CreditNoteTransactionIDFK> <AllocationDate>string</AllocationDate> <AllocationAmount>0</AllocationAmount> </CreditNoteAllocations> <CreditNoteLineItems> <TransactionLineItemID>0</TransactionLineItemID> <Description>string</Description> <Quantity>0</Quantity> <UnitPrice>0</UnitPrice> <TaxAmount>0</TaxAmount> <TaxIDFK>0</TaxIDFK> <Amount>0</Amount> <Discount>0</Discount> </CreditNoteLineItems> </CreditNote>
            text/xml:
              schema:
                $ref: '#/components/schemas/CreditNote'
              example: <CreditNote> <TransactionID>0</TransactionID> <TransactionPrefix>string</TransactionPrefix> <CreditNoteNumber>string</CreditNoteNumber> <CustomerIDFK>0</CustomerIDFK> <DateIssued>string</DateIssued> <TransactionStatusCode>string</TransactionStatusCode> <Balance>0</Balance> <CurrencyCode>string</CurrencyCode> <TotalAmount>0</TotalAmount> <Notes>string</Notes> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> <CreditNoteAllocations> <TransactionAllocationID>0</TransactionAllocationID> <InvoiceTransactionIDFK>0</InvoiceTransactionIDFK> <CreditNoteTransactionIDFK>0</CreditNoteTransactionIDFK> <AllocationDate>string</AllocationDate> <AllocationAmount>0</AllocationAmount> </CreditNoteAllocations> <CreditNoteLineItems> <TransactionLineItemID>0</TransactionLineItemID> <Description>string</Description> <Quantity>0</Quantity> <UnitPrice>0</UnitPrice> <TaxAmount>0</TaxAmount> <TaxIDFK>0</TaxIDFK> <Amount>0</Amount> <Discount>0</Discount> </CreditNoteLineItems> </CreditNote>
        '401':
          description: Unauthorized
          content:
            application/json: { }
            text/json: { }
            application/xml: { }
            text/xml: { }
        '404':
          description: Not Found
          content:
            application/json: { }
            text/json: { }
            application/xml: { }
            text/xml: { }
  /api/Contact:
    post:
      summary: Create a Contact
      description: Create a Contact
      operationId: 61af660b6c96d6ef9a8c463c
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCompanyContact'
            example:
              CompanyIDFK: 0
              CompanyName: string
              CurrencyCode: string
              CompanyBillingAddress: string
              CompanyBillingAddressLine: string
              CompanyBillingAddressCity: string
              CompanyBillingAddressState: string
              CompanyBillingAddressPostCode: string
              CompanyBillingAddressCountryCode: string
              ContactEmail: string
              Firstname: string
              Lastname: string
              PositionTitle: string
              Mobile: string
              Phone: string
              UpdateExisting: true
          text/json:
            schema:
              $ref: '#/components/schemas/NewCompanyContact'
            example:
              CompanyIDFK: 0
              CompanyName: string
              CurrencyCode: string
              CompanyBillingAddress: string
              CompanyBillingAddressLine: string
              CompanyBillingAddressCity: string
              CompanyBillingAddressState: string
              CompanyBillingAddressPostCode: string
              CompanyBillingAddressCountryCode: string
              ContactEmail: string
              Firstname: string
              Lastname: string
              PositionTitle: string
              Mobile: string
              Phone: string
              UpdateExisting: true
          application/xml:
            schema:
              $ref: '#/components/schemas/NewCompanyContact'
            example: "<NewCompanyContact>{\r\n  \"CompanyIDFK\": 0,\r\n  \"CompanyName\": \"string\",\r\n  \"CurrencyCode\": \"string\",\r\n  \"CompanyBillingAddress\": \"string\",\r\n  \"CompanyBillingAddressLine\": \"string\",\r\n  \"CompanyBillingAddressCity\": \"string\",\r\n  \"CompanyBillingAddressState\": \"string\",\r\n  \"CompanyBillingAddressPostCode\": \"string\",\r\n  \"CompanyBillingAddressCountryCode\": \"string\",\r\n  \"ContactEmail\": \"string\",\r\n  \"Firstname\": \"string\",\r\n  \"Lastname\": \"string\",\r\n  \"PositionTitle\": \"string\",\r\n  \"Mobile\": \"string\",\r\n  \"Phone\": \"string\",\r\n  \"UpdateExisting\": true\r\n}</NewCompanyContact>"
          text/xml:
            schema:
              $ref: '#/components/schemas/NewCompanyContact'
            example: "<NewCompanyContact>{\r\n  \"CompanyIDFK\": 0,\r\n  \"CompanyName\": \"string\",\r\n  \"CurrencyCode\": \"string\",\r\n  \"CompanyBillingAddress\": \"string\",\r\n  \"CompanyBillingAddressLine\": \"string\",\r\n  \"CompanyBillingAddressCity\": \"string\",\r\n  \"CompanyBillingAddressState\": \"string\",\r\n  \"CompanyBillingAddressPostCode\": \"string\",\r\n  \"CompanyBillingAddressCountryCode\": \"string\",\r\n  \"ContactEmail\": \"string\",\r\n  \"Firstname\": \"string\",\r\n  \"Lastname\": \"string\",\r\n  \"PositionTitle\": \"string\",\r\n  \"Mobile\": \"string\",\r\n  \"Phone\": \"string\",\r\n  \"UpdateExisting\": true\r\n}</NewCompanyContact>"
          application/x-www-form-urlencoded:
            schema:
              properties:
                CompanyIDFK:
                  type: integer
                CompanyName:
                  type: string
                CurrencyCode:
                  type: string
                CompanyBillingAddress:
                  type: string
                CompanyBillingAddressLine:
                  type: string
                CompanyBillingAddressCity:
                  type: string
                CompanyBillingAddressState:
                  type: string
                CompanyBillingAddressPostCode:
                  type: string
                CompanyBillingAddressCountryCode:
                  type: string
                ContactEmail:
                  type: string
                Firstname:
                  type: string
                Lastname:
                  type: string
                PositionTitle:
                  type: string
                Mobile:
                  type: string
                Phone:
                  type: string
                UpdateExisting:
                  type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyContact'
              example:
                ContactID: 0
                CompanyIDFK: 0
                CompanyName: string
                Firstname: string
                Lastname: string
                Email: string
                Phone: string
                Mobile: string
                PositionTitle: string
                TimeZone: string
                DateCreated: string
                DateUpdated: string
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyContact'
              example:
                ContactID: 0
                CompanyIDFK: 0
                CompanyName: string
                Firstname: string
                Lastname: string
                Email: string
                Phone: string
                Mobile: string
                PositionTitle: string
                TimeZone: string
                DateCreated: string
                DateUpdated: string
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyContact'
              example: <CompanyContact> <ContactID>0</ContactID> <CompanyIDFK>0</CompanyIDFK> <CompanyName>string</CompanyName> <Firstname>string</Firstname> <Lastname>string</Lastname> <Email>string</Email> <Phone>string</Phone> <Mobile>string</Mobile> <PositionTitle>string</PositionTitle> <TimeZone>string</TimeZone> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> </CompanyContact>
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyContact'
              example: <CompanyContact> <ContactID>0</ContactID> <CompanyIDFK>0</CompanyIDFK> <CompanyName>string</CompanyName> <Firstname>string</Firstname> <Lastname>string</Lastname> <Email>string</Email> <Phone>string</Phone> <Mobile>string</Mobile> <PositionTitle>string</PositionTitle> <TimeZone>string</TimeZone> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> </CompanyContact>
        '401':
          description: Unauthorized
          content:
            application/json: { }
            text/json: { }
            application/xml: { }
            text/xml: { }
    get:
      summary: Gets list of Contacts
      description: Gets list of Contacts
      operationId: 61af661118bcc76c2f6de717
      parameters:
        - name: UpdatedAfter
          in: query
          description: Format - date-time (as date-time in RFC3339).
          schema:
            type: string
        - name: pageSize
          in: query
          description: Format - int32. Number of items per page (max 1000)
          schema:
            type: integer
        - name: pageNumber
          in: query
          description: Format - int32. Page to display. Starts from 1.
          schema:
            type: integer
        - name: Sort
          in: query
          schema:
            type: string
        - name: CompanyIDFK
          in: query
          description: Format - int32.
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
              example:
                Contacts:
                  - ContactID: 0
                    CompanyIDFK: 0
                    CompanyName: string
                    Firstname: string
                    Lastname: string
                    Email: string
                    Phone: string
                    Mobile: string
                    PositionTitle: string
                    TimeZone: string
                    DateCreated: string
                    DateUpdated: string
                TotalCount: 0
                PageNumber: 0
                PageSize: 0
            text/json:
              schema:
                $ref: '#/components/schemas/ContactList'
              example:
                Contacts:
                  - ContactID: 0
                    CompanyIDFK: 0
                    CompanyName: string
                    Firstname: string
                    Lastname: string
                    Email: string
                    Phone: string
                    Mobile: string
                    PositionTitle: string
                    TimeZone: string
                    DateCreated: string
                    DateUpdated: string
                TotalCount: 0
                PageNumber: 0
                PageSize: 0
            application/xml:
              schema:
                $ref: '#/components/schemas/ContactList'
              example: <ContactList> <Contacts> <ContactID>0</ContactID> <CompanyIDFK>0</CompanyIDFK> <CompanyName>string</CompanyName> <Firstname>string</Firstname> <Lastname>string</Lastname> <Email>string</Email> <Phone>string</Phone> <Mobile>string</Mobile> <PositionTitle>string</PositionTitle> <TimeZone>string</TimeZone> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> </Contacts> <TotalCount>0</TotalCount> <PageNumber>0</PageNumber> <PageSize>0</PageSize> </ContactList>
            text/xml:
              schema:
                $ref: '#/components/schemas/ContactList'
              example: <ContactList> <Contacts> <ContactID>0</ContactID> <CompanyIDFK>0</CompanyIDFK> <CompanyName>string</CompanyName> <Firstname>string</Firstname> <Lastname>string</Lastname> <Email>string</Email> <Phone>string</Phone> <Mobile>string</Mobile> <PositionTitle>string</PositionTitle> <TimeZone>string</TimeZone> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> </Contacts> <TotalCount>0</TotalCount> <PageNumber>0</PageNumber> <PageSize>0</PageSize> </ContactList>
        '401':
          description: Unauthorized
          content:
            application/json: { }
            text/json: { }
            application/xml: { }
            text/xml: { }
  /ScheduleSeries/AddBooking:
    post:
      summary: Create new Schedule Booking
      description: Create new Schedule Booking
      operationId: 61af660dc3cb8980ec591a5a
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBooking'
            example:
              UserIDFK: 0
              HoursPerDay: 0
              TotalDuration: 0
              DurationType: string
              ScheduleOnDaysOff: true
              ProjectIDFK: 0
              CategoryIDFK: 0
              TaskIDFK: 0
              Notes: string
              StartDate: string
              EndDate: string
          text/json:
            schema:
              $ref: '#/components/schemas/CreateBooking'
            example:
              UserIDFK: 0
              HoursPerDay: 0
              TotalDuration: 0
              DurationType: string
              ScheduleOnDaysOff: true
              ProjectIDFK: 0
              CategoryIDFK: 0
              TaskIDFK: 0
              Notes: string
              StartDate: string
              EndDate: string
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateBooking'
            example: "<CreateBooking>{\r\n  \"UserIDFK\": 0,\r\n  \"HoursPerDay\": 0.0,\r\n  \"TotalDuration\": 0.0,\r\n  \"DurationType\": \"string\",\r\n  \"ScheduleOnDaysOff\": true,\r\n  \"ProjectIDFK\": 0,\r\n  \"CategoryIDFK\": 0,\r\n  \"TaskIDFK\": 0,\r\n  \"Notes\": \"string\",\r\n  \"StartDate\": \"string\",\r\n  \"EndDate\": \"string\"\r\n}</CreateBooking>"
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateBooking'
            example: "<CreateBooking>{\r\n  \"UserIDFK\": 0,\r\n  \"HoursPerDay\": 0.0,\r\n  \"TotalDuration\": 0.0,\r\n  \"DurationType\": \"string\",\r\n  \"ScheduleOnDaysOff\": true,\r\n  \"ProjectIDFK\": 0,\r\n  \"CategoryIDFK\": 0,\r\n  \"TaskIDFK\": 0,\r\n  \"Notes\": \"string\",\r\n  \"StartDate\": \"string\",\r\n  \"EndDate\": \"string\"\r\n}</CreateBooking>"
          application/x-www-form-urlencoded:
            schema:
              properties:
                UserIDFK:
                  type: integer
                HoursPerDay:
                  type: number
                TotalDuration:
                  type: number
                DurationType:
                  type: string
                ScheduleOnDaysOff:
                  type: boolean
                ProjectIDFK:
                  type: integer
                CategoryIDFK:
                  type: integer
                TaskIDFK:
                  type: integer
                Notes:
                  type: string
                StartDate:
                  type: string
                EndDate:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
              example:
                ScheduleSeriesID: 0
                AccountIDFK: 0
                UserIDFK: 0
                Firstname: string
                Lastname: string
                ProjectIDFK: 0
                ProjectTitle: string
                CompanyIDFK: 0
                CompanyName: string
                TimeSheetCategoryIDFK: 0
                TimeSheetCategoryName: string
                LeaveTypeIDFK: 0
                LeaveTypeName: string
                StartDate: string
                EndDate: string
                HoursPerDay: 0
                TotalDuration: 0
                ScheduleOnDaysOff: true
                Notes: string
                TaskIDFK: 0
                TaskTitle: string
                DateCreated: string
                DateUpdated: string
                UpdatedByUserIDFK: 0
            text/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
              example:
                ScheduleSeriesID: 0
                AccountIDFK: 0
                UserIDFK: 0
                Firstname: string
                Lastname: string
                ProjectIDFK: 0
                ProjectTitle: string
                CompanyIDFK: 0
                CompanyName: string
                TimeSheetCategoryIDFK: 0
                TimeSheetCategoryName: string
                LeaveTypeIDFK: 0
                LeaveTypeName: string
                StartDate: string
                EndDate: string
                HoursPerDay: 0
                TotalDuration: 0
                ScheduleOnDaysOff: true
                Notes: string
                TaskIDFK: 0
                TaskTitle: string
                DateCreated: string
                DateUpdated: string
                UpdatedByUserIDFK: 0
            application/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
              example: <ScheduleSeriesDetails> <ScheduleSeriesID>0</ScheduleSeriesID> <AccountIDFK>0</AccountIDFK> <UserIDFK>0</UserIDFK> <Firstname>string</Firstname> <Lastname>string</Lastname> <ProjectIDFK>0</ProjectIDFK> <ProjectTitle>string</ProjectTitle> <CompanyIDFK>0</CompanyIDFK> <CompanyName>string</CompanyName> <TimeSheetCategoryIDFK>0</TimeSheetCategoryIDFK> <TimeSheetCategoryName>string</TimeSheetCategoryName> <LeaveTypeIDFK>0</LeaveTypeIDFK> <LeaveTypeName>string</LeaveTypeName> <StartDate>string</StartDate> <EndDate>string</EndDate> <HoursPerDay>0</HoursPerDay> <TotalDuration>0</TotalDuration> <ScheduleOnDaysOff>true</ScheduleOnDaysOff> <Notes>string</Notes> <TaskIDFK>0</TaskIDFK> <TaskTitle>string</TaskTitle> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> <UpdatedByUserIDFK>0</UpdatedByUserIDFK> </ScheduleSeriesDetails>
            text/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
              example: <ScheduleSeriesDetails> <ScheduleSeriesID>0</ScheduleSeriesID> <AccountIDFK>0</AccountIDFK> <UserIDFK>0</UserIDFK> <Firstname>string</Firstname> <Lastname>string</Lastname> <ProjectIDFK>0</ProjectIDFK> <ProjectTitle>string</ProjectTitle> <CompanyIDFK>0</CompanyIDFK> <CompanyName>string</CompanyName> <TimeSheetCategoryIDFK>0</TimeSheetCategoryIDFK> <TimeSheetCategoryName>string</TimeSheetCategoryName> <LeaveTypeIDFK>0</LeaveTypeIDFK> <LeaveTypeName>string</LeaveTypeName> <StartDate>string</StartDate> <EndDate>string</EndDate> <HoursPerDay>0</HoursPerDay> <TotalDuration>0</TotalDuration> <ScheduleOnDaysOff>true</ScheduleOnDaysOff> <Notes>string</Notes> <TaskIDFK>0</TaskIDFK> <TaskTitle>string</TaskTitle> <DateCreated>string</DateCreated> <DateUpdated>string</DateUpdated> <UpdatedByUserIDFK>0</UpdatedByUserIDFK> </ScheduleSeriesDetails>
  '/api/Company/{id}':
    get:
      summary: Gets Company by Company ID
      description: Gets Company by Company ID
      operationId: 61af66100d7c44865cbb1239
      parameters:
        - name: id
          in: path
          description: Format - int64. Company ID Number
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
              example:
                CompanyID: 0
                CompanyName: string
                BillingAddressLine: string
                BillingAddressCity: string
                BillingAddressState: string
                BillingAddressPostCode: string
                BillingCountryCode: string
                BillingAddress: string
                Phone: string
                Fax: string
                website: string
                TaxNumber: string
                Comments: string
                CurrencyCode: string
                DefaultTradingTermIDFK: 0
                DateCreated: string
                DateUpdated: string
                Contacts:
                  - ContactID: 0
                    CompanyIDFK: 0
                    CompanyName: string
                    Firstname: string
                    Lastname: string
                    Email: string
                    Phone: string
[...]
