swagger: '2.0'
info:
  title: Avaza API Documentation (clone)
  version: '1.0'
  description: >-
    Welcome to the autogenerated documentation & test tool for Avaza's API.
    <br/><br/><strong>API Security & Authentication</strong><br/>Authentication
    options include OAuth2 Implicit and Authorization Code flows, and Personal
    Access Token. All connections should be encrypted over SSL/TLS <br/><br/>You
    can set up and manage your api authentication credentials from within your
    Avaza account. (requires Administrator permissions on your Avaza
    account).<br/><br/> OAuth2 Authorization endpoint:
    https://any.avaza.com/oauth2/authorize  <br/>OAuth2 Token endpoint:
    https://any.avaza.com/oauth2/token<br/>Base URL for subsequent API Requests:
    https://api.avaza.com/ <br/><br/>Blogpost about authenticating with Avaza's
    API:  https://www.avaza.com/avaza-api-oauth2-authentication/ <br/>Blogpost
    on using Avaza's webhooks:
    https://www.avaza.com/avaza-api-webhook-notifications/<br/>The OAuth flow
    currently issues Access Tokens that last 1 day, and Refresh tokens that last
    180 days<br/>The Api respects the security Roles assigned to the
    authenticating Avaza user and filters the data return appropriately.
    <br/><br><strong>Support</strong><br/>For API Support, and to request access
    please contact Avaza Support Team via our support chat.
    <br/><br/><strong>User Contributed Libraries:</strong><br/>Graciously
    contributed by 3rd party users like you. <br/>Note these are not tested or
    endorsesd by Avaza. We encourage you to review before use, and use at own
    risk.<br/> <ul><li> - <a target='blank'
    href='https://packagist.org/packages/debiprasad/oauth2-avaza'>PHP OAuth
    Client Package for Azava API (by Debiprasad Sahoo)</a></li></ul>
host: apiminstancepeabody.azure-api.net
basePath: /avaza-clone
schemes:
  - https
securityDefinitions:
  apiKeyHeader:
    type: apiKey
    name: Ocp-Apim-Subscription-Key
    in: header
  apiKeyQuery:
    type: apiKey
    name: subscription-key
    in: query
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
paths:
  /api/Company:
    post:
      description: Create a Company
      operationId: 61af660b53306c98d14d8a8c
      summary: Create a Company
      parameters:
        - name: newCompany
          in: body
          schema:
            $ref: '#/definitions/NewCompany'
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Company'
          examples:
            application/json:
              CompanyID: 0
              CompanyName: string
              BillingAddressLine: string
              BillingAddressCity: string
              BillingAddressState: string
              BillingAddressPostCode: string
              BillingCountryCode: string
              BillingAddress: string
              Phone: string
              Fax: string
              website: string
              TaxNumber: string
              Comments: string
              CurrencyCode: string
              DefaultTradingTermIDFK: 0
              DateCreated: string
              DateUpdated: string
              Contacts:
                - ContactID: 0
                  CompanyIDFK: 0
                  CompanyName: string
                  Firstname: string
                  Lastname: string
                  Email: string
                  Phone: string
                  Mobile: string
                  PositionTitle: string
                  TimeZone: string
                  DateCreated: string
                  DateUpdated: string
            text/json:
              CompanyID: 0
              CompanyName: string
              BillingAddressLine: string
              BillingAddressCity: string
              BillingAddressState: string
              BillingAddressPostCode: string
              BillingCountryCode: string
              BillingAddress: string
              Phone: string
              Fax: string
              website: string
              TaxNumber: string
              Comments: string
              CurrencyCode: string
              DefaultTradingTermIDFK: 0
              DateCreated: string
              DateUpdated: string
              Contacts:
                - ContactID: 0
                  CompanyIDFK: 0
                  CompanyName: string
                  Firstname: string
                  Lastname: string
                  Email: string
                  Phone: string
                  Mobile: string
                  PositionTitle: string
                  TimeZone: string
                  DateCreated: string
                  DateUpdated: string
            application/xml: "<Company>\r\n  <CompanyID>0</CompanyID>\r\n  <CompanyName>string</CompanyName>\r\n  <BillingAddressLine>string</BillingAddressLine>\r\n  <BillingAddressCity>string</BillingAddressCity>\r\n  <BillingAddressState>string</BillingAddressState>\r\n  <BillingAddressPostCode>string</BillingAddressPostCode>\r\n  <BillingCountryCode>string</BillingCountryCode>\r\n  <BillingAddress>string</BillingAddress>\r\n  <Phone>string</Phone>\r\n  <Fax>string</Fax>\r\n  <website>string</website>\r\n  <TaxNumber>string</TaxNumber>\r\n  <Comments>string</Comments>\r\n  <CurrencyCode>string</CurrencyCode>\r\n  <DefaultTradingTermIDFK>0</DefaultTradingTermIDFK>\r\n  <DateCreated>string</DateCreated>\r\n  <DateUpdated>string</DateUpdated>\r\n  <Contacts>\r\n    <ContactID>0</ContactID>\r\n    <CompanyIDFK>0</CompanyIDFK>\r\n    <CompanyName>string</CompanyName>\r\n    <Firstname>string</Firstname>\r\n    <Lastname>string</Lastname>\r\n    <Email>string</Email>\r\n    <Phone>string</Phone>\r\n    <Mobile>string</Mobile>\r\n    <PositionTitle>string</PositionTitle>\r\n    <TimeZone>string</TimeZone>\r\n    <DateCreated>string</DateCreated>\r\n    <DateUpdated>string</DateUpdated>\r\n  </Contacts>\r\n</Company>"
            text/xml: "<Company>\r\n  <CompanyID>0</CompanyID>\r\n  <CompanyName>string</CompanyName>\r\n  <BillingAddressLine>string</BillingAddressLine>\r\n  <BillingAddressCity>string</BillingAddressCity>\r\n  <BillingAddressState>string</BillingAddressState>\r\n  <BillingAddressPostCode>string</BillingAddressPostCode>\r\n  <BillingCountryCode>string</BillingCountryCode>\r\n  <BillingAddress>string</BillingAddress>\r\n  <Phone>string</Phone>\r\n  <Fax>string</Fax>\r\n  <website>string</website>\r\n  <TaxNumber>string</TaxNumber>\r\n  <Comments>string</Comments>\r\n  <CurrencyCode>string</CurrencyCode>\r\n  <DefaultTradingTermIDFK>0</DefaultTradingTermIDFK>\r\n  <DateCreated>string</DateCreated>\r\n  <DateUpdated>string</DateUpdated>\r\n  <Contacts>\r\n    <ContactID>0</ContactID>\r\n    <CompanyIDFK>0</CompanyIDFK>\r\n    <CompanyName>string</CompanyName>\r\n    <Firstname>string</Firstname>\r\n    <Lastname>string</Lastname>\r\n    <Email>string</Email>\r\n    <Phone>string</Phone>\r\n    <Mobile>string</Mobile>\r\n    <PositionTitle>string</PositionTitle>\r\n    <TimeZone>string</TimeZone>\r\n    <DateCreated>string</DateCreated>\r\n    <DateUpdated>string</DateUpdated>\r\n  </Contacts>\r\n</Company>"
        '401':
          description: Unauthorized
    get:
      description: Gets list of Companies
      operationId: 61af6618b96c50b158eeabc1
      summary: Gets list of Companies
      parameters:
        - name: UpdatedAfter
          in: query
          description: Format - date-time (as date-time in RFC3339).
          type: string
        - name: pageSize
          in: query
          description: Format - int32. Number of results per page
          type: integer
        - name: pageNumber
          in: query
          description: Format - int32. 1 based page number to retrieve
          type: integer
        - name: Sort
          in: query
          description: >-
            (optional) Supply one of: "DateUpdated", "DateCreated",
            "CompanyName","DateUpdated desc","DateCreated desc", "CompanyName
            desc"
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CompanyList'
          examples:
            application/json:
              Companies:
                - CompanyID: 0
                  CompanyName: string
                  BillingAddressLine: string
                  BillingAddressCity: string
                  BillingAddressState: string
                  BillingAddressPostCode: string
                  BillingCountryCode: string
                  BillingAddress: string
                  Phone: string
                  Fax: string
                  website: string
                  TaxNumber: string
                  Comments: string
                  CurrencyCode: string
                  DefaultTradingTermIDFK: 0
                  DateCreated: string
                  DateUpdated: string
                  Contacts:
                    - ContactID: 0
                      CompanyIDFK: 0
                      CompanyName: string
                      Firstname: string
                      Lastname: string
                      Email: string
                      Phone: string
                      Mobile: string
                      PositionTitle: string
                      TimeZone: string
                      DateCreated: string
                      DateUpdated: string
              TotalCount: 0
              PageNumber: 0
              PageSize: 0
            text/json:
              Companies:
                - CompanyID: 0
                  CompanyName: string
                  BillingAddressLine: string
                  BillingAddressCity: string
                  BillingAddressState: string
                  BillingAddressPostCode: string
                  BillingCountryCode: string
                  BillingAddress: string
                  Phone: string
                  Fax: string
                  website: string
                  TaxNumber: string
                  Comments: string
                  CurrencyCode: string
                  DefaultTradingTermIDFK: 0
                  DateCreated: string
                  DateUpdated: string
                  Contacts:
                    - ContactID: 0
                      CompanyIDFK: 0
                      CompanyName: string
                      Firstname: string
                      Lastname: string
                      Email: string
                      Phone: string
                      Mobile: string
                      PositionTitle: string
                      TimeZone: string
                      DateCreated: string
                      DateUpdated: string
              TotalCount: 0
              PageNumber: 0
              PageSize: 0
            application/xml: "<CompanyList>\r\n  <Companies>\r\n    <CompanyID>0</CompanyID>\r\n    <CompanyName>string</CompanyName>\r\n    <BillingAddressLine>string</BillingAddressLine>\r\n    <BillingAddressCity>string</BillingAddressCity>\r\n    <BillingAddressState>string</BillingAddressState>\r\n    <BillingAddressPostCode>string</BillingAddressPostCode>\r\n    <BillingCountryCode>string</BillingCountryCode>\r\n    <BillingAddress>string</BillingAddress>\r\n    <Phone>string</Phone>\r\n    <Fax>string</Fax>\r\n    <website>string</website>\r\n    <TaxNumber>string</TaxNumber>\r\n    <Comments>string</Comments>\r\n    <CurrencyCode>string</CurrencyCode>\r\n    <DefaultTradingTermIDFK>0</DefaultTradingTermIDFK>\r\n    <DateCreated>string</DateCreated>\r\n    <DateUpdated>string</DateUpdated>\r\n    <Contacts>\r\n      <ContactID>0</ContactID>\r\n      <CompanyIDFK>0</CompanyIDFK>\r\n      <CompanyName>string</CompanyName>\r\n      <Firstname>string</Firstname>\r\n      <Lastname>string</Lastname>\r\n      <Email>string</Email>\r\n      <Phone>string</Phone>\r\n      <Mobile>string</Mobile>\r\n      <PositionTitle>string</PositionTitle>\r\n      <TimeZone>string</TimeZone>\r\n      <DateCreated>string</DateCreated>\r\n      <DateUpdated>string</DateUpdated>\r\n    </Contacts>\r\n  </Companies>\r\n  <TotalCount>0</TotalCount>\r\n  <PageNumber>0</PageNumber>\r\n  <PageSize>0</PageSize>\r\n</CompanyList>"
            text/xml: "<CompanyList>\r\n  <Companies>\r\n    <CompanyID>0</CompanyID>\r\n    <CompanyName>string</CompanyName>\r\n    <BillingAddressLine>string</BillingAddressLine>\r\n    <BillingAddressCity>string</BillingAddressCity>\r\n    <BillingAddressState>string</BillingAddressState>\r\n    <BillingAddressPostCode>string</BillingAddressPostCode>\r\n    <BillingCountryCode>string</BillingCountryCode>\r\n    <BillingAddress>string</BillingAddress>\r\n    <Phone>string</Phone>\r\n    <Fax>string</Fax>\r\n    <website>string</website>\r\n    <TaxNumber>string</TaxNumber>\r\n    <Comments>string</Comments>\r\n    <CurrencyCode>string</CurrencyCode>\r\n    <DefaultTradingTermIDFK>0</DefaultTradingTermIDFK>\r\n    <DateCreated>string</DateCreated>\r\n    <DateUpdated>string</DateUpdated>\r\n    <Contacts>\r\n      <ContactID>0</ContactID>\r\n      <CompanyIDFK>0</CompanyIDFK>\r\n      <CompanyName>string</CompanyName>\r\n      <Firstname>string</Firstname>\r\n      <Lastname>string</Lastname>\r\n      <Email>string</Email>\r\n      <Phone>string</Phone>\r\n      <Mobile>string</Mobile>\r\n      <PositionTitle>string</PositionTitle>\r\n      <TimeZone>string</TimeZone>\r\n      <DateCreated>string</DateCreated>\r\n      <DateUpdated>string</DateUpdated>\r\n    </Contacts>\r\n  </Companies>\r\n  <TotalCount>0</TotalCount>\r\n  <PageNumber>0</PageNumber>\r\n  <PageSize>0</PageSize>\r\n</CompanyList>"
        '401':
          description: Unauthorized
    put:
      description: >-
        Requires CompanyID and a list of field names to update. The
        FieldsToUpdate field accepts a string array containing field names that
        should be updated.
      operationId: 61af661a111e7ee8b0c23453
      summary: Update a Company record.
      parameters:
        - name: updateCompany
          in: body
          schema:
            $ref: '#/definitions/UpdateCompany'
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Company'
          examples:
            application/json:
              CompanyID: 0
              CompanyName: string
              BillingAddressLine: string
              BillingAddressCity: string
              BillingAddressState: string
              BillingAddressPostCode: string
              BillingCountryCode: string
              BillingAddress: string
              Phone: string
              Fax: string
              website: string
              TaxNumber: string
              Comments: string
              CurrencyCode: string
              DefaultTradingTermIDFK: 0
              DateCreated: string
              DateUpdated: string
              Contacts:
                - ContactID: 0
                  CompanyIDFK: 0
                  CompanyName: string
                  Firstname: string
                  Lastname: string
                  Email: string
                  Phone: string
                  Mobile: string
                  PositionTitle: string
                  TimeZone: string
                  DateCreated: string
                  DateUpdated: string
            text/json:
              CompanyID: 0
              CompanyName: string
              BillingAddressLine: string
              BillingAddressCity: string
              BillingAddressState: string
              BillingAddressPostCode: string
              BillingCountryCode: string
              BillingAddress: string
              Phone: string
              Fax: string
              website: string
              TaxNumber: string
              Comments: string
              CurrencyCode: string
              DefaultTradingTermIDFK: 0
              DateCreated: string
              DateUpdated: string
              Contacts:
                - ContactID: 0
                  CompanyIDFK: 0
                  CompanyName: string
                  Firstname: string
                  Lastname: string
                  Email: string
                  Phone: string
                  Mobile: string
                  PositionTitle: string
                  TimeZone: string
                  DateCreated: string
                  DateUpdated: string
            application/xml: "<Company>\r\n  <CompanyID>0</CompanyID>\r\n  <CompanyName>string</CompanyName>\r\n  <BillingAddressLine>string</BillingAddressLine>\r\n  <BillingAddressCity>string</BillingAddressCity>\r\n  <BillingAddressState>string</BillingAddressState>\r\n  <BillingAddressPostCode>string</BillingAddressPostCode>\r\n  <BillingCountryCode>string</BillingCountryCode>\r\n  <BillingAddress>string</BillingAddress>\r\n  <Phone>string</Phone>\r\n  <Fax>string</Fax>\r\n  <website>string</website>\r\n  <TaxNumber>string</TaxNumber>\r\n  <Comments>string</Comments>\r\n  <CurrencyCode>string</CurrencyCode>\r\n  <DefaultTradingTermIDFK>0</DefaultTradingTermIDFK>\r\n  <DateCreated>string</DateCreated>\r\n  <DateUpdated>string</DateUpdated>\r\n  <Contacts>\r\n    <ContactID>0</ContactID>\r\n    <CompanyIDFK>0</CompanyIDFK>\r\n    <CompanyName>string</CompanyName>\r\n    <Firstname>string</Firstname>\r\n    <Lastname>string</Lastname>\r\n    <Email>string</Email>\r\n    <Phone>string</Phone>\r\n    <Mobile>string</Mobile>\r\n    <PositionTitle>string</PositionTitle>\r\n    <TimeZone>string</TimeZone>\r\n    <DateCreated>string</DateCreated>\r\n    <DateUpdated>string</DateUpdated>\r\n  </Contacts>\r\n</Company>"
            text/xml: "<Company>\r\n  <CompanyID>0</CompanyID>\r\n  <CompanyName>string</CompanyName>\r\n  <BillingAddressLine>string</BillingAddressLine>\r\n  <BillingAddressCity>string</BillingAddressCity>\r\n  <BillingAddressState>string</BillingAddressState>\r\n  <BillingAddressPostCode>string</BillingAddressPostCode>\r\n  <BillingCountryCode>string</BillingCountryCode>\r\n  <BillingAddress>string</BillingAddress>\r\n  <Phone>string</Phone>\r\n  <Fax>string</Fax>\r\n  <website>string</website>\r\n  <TaxNumber>string</TaxNumber>\r\n  <Comments>string</Comments>\r\n  <CurrencyCode>string</CurrencyCode>\r\n  <DefaultTradingTermIDFK>0</DefaultTradingTermIDFK>\r\n  <DateCreated>string</DateCreated>\r\n  <DateUpdated>string</DateUpdated>\r\n  <Contacts>\r\n    <ContactID>0</ContactID>\r\n    <CompanyIDFK>0</CompanyIDFK>\r\n    <CompanyName>string</CompanyName>\r\n    <Firstname>string</Firstname>\r\n    <Lastname>string</Lastname>\r\n    <Email>string</Email>\r\n    <Phone>string</Phone>\r\n    <Mobile>string</Mobile>\r\n    <PositionTitle>string</PositionTitle>\r\n    <TimeZone>string</TimeZone>\r\n    <DateCreated>string</DateCreated>\r\n    <DateUpdated>string</DateUpdated>\r\n  </Contacts>\r\n</Company>"
  /api/Section:
    delete:
      description: Delete a Section
      operationId: 61af660af209a0772c741369
      summary: Delete a Section
      parameters:
        - name: SectionID
          in: query
          description: Format - int64.
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiSectionDelete200TextXmlResponse'
          examples:
            application/json: {}
            text/json: {}
            application/xml: <ApiSectionDelete200ApplicationXmlResponse />
            text/xml: <ApiSectionDelete200TextXmlResponse />
    post:
      description: Create a Section
      operationId: 61af660bdb32dc6a09d23117
      summary: Create a Section
      parameters:
        - name: newSection
          in: body
          schema:
            $ref: '#/definitions/NewSection'
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SectionDetails'
          examples:
            application/json:
              SectionID: 0
              ProjectIDFK: 0
              Title: string
              DisplayOrder: 0
              StartDateUTC: string
              StartDate: string
              EndDateUTC: string
              EndDate: string
            text/json:
              SectionID: 0
              ProjectIDFK: 0
              Title: string
              DisplayOrder: 0
              StartDateUTC: string
              StartDate: string
              EndDateUTC: string
              EndDate: string
            application/xml: "<SectionDetails>\r\n  <SectionID>0</SectionID>\r\n  <ProjectIDFK>0</ProjectIDFK>\r\n  <Title>string</Title>\r\n  <DisplayOrder>0</DisplayOrder>\r\n  <StartDateUTC>string</StartDateUTC>\r\n  <StartDate>string</StartDate>\r\n  <EndDateUTC>string</EndDateUTC>\r\n  <EndDate>string</EndDate>\r\n</SectionDetails>"
            text/xml: "<SectionDetails>\r\n  <SectionID>0</SectionID>\r\n  <ProjectIDFK>0</ProjectIDFK>\r\n  <Title>string</Title>\r\n  <DisplayOrder>0</DisplayOrder>\r\n  <StartDateUTC>string</StartDateUTC>\r\n  <StartDate>string</StartDate>\r\n  <EndDateUTC>string</EndDateUTC>\r\n  <EndDate>string</EndDate>\r\n</SectionDetails>"
    get:
      description: Gets list of Sections
      operationId: 61af66140d5b35daa660200f
      summary: Gets list of Sections
      parameters:
        - name: ProjectID
          in: query
          description: Format - int32. Get sections for Project with ProjectID
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SectionList'
          examples:
            application/json:
              Sections:
                - SectionID: 0
                  ProjectIDFK: 0
                  Title: string
                  DisplayOrder: 0
                  StartDateUTC: string
                  StartDate: string
                  EndDateUTC: string
                  EndDate: string
              TotalCount: 0
            text/json:
              Sections:
                - SectionID: 0
                  ProjectIDFK: 0
                  Title: string
                  DisplayOrder: 0
                  StartDateUTC: string
                  StartDate: string
                  EndDateUTC: string
                  EndDate: string
              TotalCount: 0
            application/xml: "<SectionList>\r\n  <Sections>\r\n    <SectionID>0</SectionID>\r\n    <ProjectIDFK>0</ProjectIDFK>\r\n    <Title>string</Title>\r\n    <DisplayOrder>0</DisplayOrder>\r\n    <StartDateUTC>string</StartDateUTC>\r\n    <StartDate>string</StartDate>\r\n    <EndDateUTC>string</EndDateUTC>\r\n    <EndDate>string</EndDate>\r\n  </Sections>\r\n  <TotalCount>0</TotalCount>\r\n</SectionList>"
            text/xml: "<SectionList>\r\n  <Sections>\r\n    <SectionID>0</SectionID>\r\n    <ProjectIDFK>0</ProjectIDFK>\r\n    <Title>string</Title>\r\n    <DisplayOrder>0</DisplayOrder>\r\n    <StartDateUTC>string</StartDateUTC>\r\n    <StartDate>string</StartDate>\r\n    <EndDateUTC>string</EndDateUTC>\r\n    <EndDate>string</EndDate>\r\n  </Sections>\r\n  <TotalCount>0</TotalCount>\r\n</SectionList>"
        '401':
          description: Unauthorized
  /api/Account:
    get:
      description: Account Details
      operationId: 61af660a8fa2f400f4df2310
      summary: Account Details
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AccountDetails'
          examples:
            application/json:
              AccountID: 0
              CompanyName: string
              Subdomain: string
              AccountEmail: string
              hasStartEndTimesheets: true
              has24HourTimesheetFormat: true
              WeeklyTimesheetReminder: true
              LockApprovedTimesheets: true
              TimesheetDayOfWeek: 0
              TimesheetDisplayFormatCode: string
              AllowHidingCompletedTasksOnTimesheet: true
              CurrentServerTimeISO: string
              SC: string
              DefaultCurrencyCode: string
              ExpenseApprovalRequired: true
              LockApprovedExpenses: true
              BrandPrimaryColor: string
              BrandPrimaryColorLuminance: string
            text/json:
              AccountID: 0
              CompanyName: string
              Subdomain: string
              AccountEmail: string
              hasStartEndTimesheets: true
              has24HourTimesheetFormat: true
              WeeklyTimesheetReminder: true
              LockApprovedTimesheets: true
              TimesheetDayOfWeek: 0
              TimesheetDisplayFormatCode: string
              AllowHidingCompletedTasksOnTimesheet: true
              CurrentServerTimeISO: string
              SC: string
              DefaultCurrencyCode: string
              ExpenseApprovalRequired: true
              LockApprovedExpenses: true
              BrandPrimaryColor: string
              BrandPrimaryColorLuminance: string
            application/xml: "<AccountDetails>\r\n  <AccountID>0</AccountID>\r\n  <CompanyName>string</CompanyName>\r\n  <Subdomain>string</Subdomain>\r\n  <AccountEmail>string</AccountEmail>\r\n  <hasStartEndTimesheets>true</hasStartEndTimesheets>\r\n  <has24HourTimesheetFormat>true</has24HourTimesheetFormat>\r\n  <WeeklyTimesheetReminder>true</WeeklyTimesheetReminder>\r\n  <LockApprovedTimesheets>true</LockApprovedTimesheets>\r\n  <TimesheetDayOfWeek>0</TimesheetDayOfWeek>\r\n  <TimesheetDisplayFormatCode>string</TimesheetDisplayFormatCode>\r\n  <AllowHidingCompletedTasksOnTimesheet>true</AllowHidingCompletedTasksOnTimesheet>\r\n  <CurrentServerTimeISO>string</CurrentServerTimeISO>\r\n  <SC>string</SC>\r\n  <DefaultCurrencyCode>string</DefaultCurrencyCode>\r\n  <ExpenseApprovalRequired>true</ExpenseApprovalRequired>\r\n  <LockApprovedExpenses>true</LockApprovedExpenses>\r\n  <BrandPrimaryColor>string</BrandPrimaryColor>\r\n  <BrandPrimaryColorLuminance>string</BrandPrimaryColorLuminance>\r\n</AccountDetails>"
            text/xml: "<AccountDetails>\r\n  <AccountID>0</AccountID>\r\n  <CompanyName>string</CompanyName>\r\n  <Subdomain>string</Subdomain>\r\n  <AccountEmail>string</AccountEmail>\r\n  <hasStartEndTimesheets>true</hasStartEndTimesheets>\r\n  <has24HourTimesheetFormat>true</has24HourTimesheetFormat>\r\n  <WeeklyTimesheetReminder>true</WeeklyTimesheetReminder>\r\n  <LockApprovedTimesheets>true</LockApprovedTimesheets>\r\n  <TimesheetDayOfWeek>0</TimesheetDayOfWeek>\r\n  <TimesheetDisplayFormatCode>string</TimesheetDisplayFormatCode>\r\n  <AllowHidingCompletedTasksOnTimesheet>true</AllowHidingCompletedTasksOnTimesheet>\r\n  <CurrentServerTimeISO>string</CurrentServerTimeISO>\r\n  <SC>string</SC>\r\n  <DefaultCurrencyCode>string</DefaultCurrencyCode>\r\n  <ExpenseApprovalRequired>true</ExpenseApprovalRequired>\r\n  <LockApprovedExpenses>true</LockApprovedExpenses>\r\n  <BrandPrimaryColor>string</BrandPrimaryColor>\r\n  <BrandPrimaryColorLuminance>string</BrandPrimaryColorLuminance>\r\n</AccountDetails>"
        '401':
          description: Unauthorized
  /api/ProjectTimesheetCategory:
    post:
      operationId: 61af660bdde714c7c6e71038
      summary: Assign a TimeSheetCategory to a Project.
      parameters:
        - name: assignProjectTimesheetCategory
          in: body
          schema:
            $ref: '#/definitions/AssignProjectTimesheetCategory'
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProjectTimesheetCategoryDetails'
          examples:
            application/json:
              TimeSheetCategoryIDFK: 0
              AccountIDFK: 0
              ProjectIDFK: 0
              Name: string
              isBillable: true
              RateAmount: 0
              BudgetHours: 0
              CostAmount: 0
            text/json:
              TimeSheetCategoryIDFK: 0
              AccountIDFK: 0
              ProjectIDFK: 0
              Name: string
              isBillable: true
              RateAmount: 0
              BudgetHours: 0
              CostAmount: 0
            application/xml: "<ProjectTimesheetCategoryDetails>\r\n  <TimeSheetCategoryIDFK>0</TimeSheetCategoryIDFK>\r\n  <AccountIDFK>0</AccountIDFK>\r\n  <ProjectIDFK>0</ProjectIDFK>\r\n  <Name>string</Name>\r\n  <isBillable>true</isBillable>\r\n  <RateAmount>0</RateAmount>\r\n  <BudgetHours>0</BudgetHours>\r\n  <CostAmount>0</CostAmount>\r\n</ProjectTimesheetCategoryDetails>"
            text/xml: "<ProjectTimesheetCategoryDetails>\r\n  <TimeSheetCategoryIDFK>0</TimeSheetCategoryIDFK>\r\n  <AccountIDFK>0</AccountIDFK>\r\n  <ProjectIDFK>0</ProjectIDFK>\r\n  <Name>string</Name>\r\n  <isBillable>true</isBillable>\r\n  <RateAmount>0</RateAmount>\r\n  <BudgetHours>0</BudgetHours>\r\n  <CostAmount>0</CostAmount>\r\n</ProjectTimesheetCategoryDetails>"
    get:
      description: 'The default sort order is by isBillable desc, Name asc'
      operationId: 61af6614918a20295d134587
      summary: Gets list of Project Timesheet Categories
      parameters:
        - name: ProjectID
          in: query
          description: Format - int32. Get categories filtered by ProjectID
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ProjectTimesheetCategoryList'
          examples:
            application/json:
              Categories:
                - TimeSheetCategoryIDFK: 0
                  AccountIDFK: 0
                  ProjectIDFK: 0
                  Name: string
                  isBillable: true
                  RateAmount: 0
                  BudgetHours: 0
                  CostAmount: 0
            text/json:
              Categories:
                - TimeSheetCategoryIDFK: 0
                  AccountIDFK: 0
                  ProjectIDFK: 0
                  Name: string
                  isBillable: true
                  RateAmount: 0
                  BudgetHours: 0
                  CostAmount: 0
            application/xml: "<ProjectTimesheetCategoryList>\r\n  <Categories>\r\n    <TimeSheetCategoryIDFK>0</TimeSheetCategoryIDFK>\r\n    <AccountIDFK>0</AccountIDFK>\r\n    <ProjectIDFK>0</ProjectIDFK>\r\n    <Name>string</Name>\r\n    <isBillable>true</isBillable>\r\n    <RateAmount>0</RateAmount>\r\n    <BudgetHours>0</BudgetHours>\r\n    <CostAmount>0</CostAmount>\r\n  </Categories>\r\n</ProjectTimesheetCategoryList>"
            text/xml: "<ProjectTimesheetCategoryList>\r\n  <Categories>\r\n    <TimeSheetCategoryIDFK>0</TimeSheetCategoryIDFK>\r\n    <AccountIDFK>0</AccountIDFK>\r\n    <ProjectIDFK>0</ProjectIDFK>\r\n    <Name>string</Name>\r\n    <isBillable>true</isBillable>\r\n    <RateAmount>0</RateAmount>\r\n    <BudgetHours>0</BudgetHours>\r\n    <CostAmount>0</CostAmount>\r\n  </Categories>\r\n</ProjectTimesheetCategoryList>"
        '401':
          description: Unauthorized
  /api/Invoice:
    post:
      description: Create a new draft invoice
      operationId: 61af660c11bcbe2856475a45
      summary: Create a new draft invoice
      parameters:
        - name: newInvoice
          in: body
          schema:
            $ref: '#/definitions/NewInvoice'
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Invoice'
          examples:
            application/json:
              TransactionID: 0
              AccountIDFK: 0
              TransactionPrefix: string
              InvoiceNumber: string
              CompanyIDFK: 0
              CompanyName: string
              Subject: string
              DateIssued: string
              DateSent: string
              DueDate: string
              TransactionStatusCode: string
              TaxAmount: 0
              TransactionTaxConfigCode: string
              Balance: 0
              CurrencyCode: string
              TotalAmount: 0
              ExchangeRate: 0
              Notes: string
              CustomerPONumber: string
              DateCreated: string
              DateUpdated: string
              LineItems:
                - TransactionLineItemID: 0
                  InventoryItemIDFK: 0
                  InventoryItemName: string
                  InventoryItemSKU: string
                  Description: string
                  Quantity: 0
                  UnitPrice: 0
                  TaxAmount: 0
                  TaxIDFK: 0
                  TaxCode: string
                  TaxName: string
                  ProjectIDFK: 0
                  ProjectTitle: string
                  Amount: 0
                  Discount: 0
              Links:
                ClientView: string
                View: string
                Edit: string
              Issuer:
                BillingAddress: string
                BillingAddressLine: string
                BillingAddressCity: string
                BillingAddressState: string
                BillingAddressPostCode: string
                BillingCountryCode: string
                TaxNumber: string
              Recipient:
                CompanyIDFK: 0
                CompanyName: string
                RecipientFormattedBillingAddress: string
                RecipientBillingAddressLine: string
                RecipientBillingAddressCity: string
                RecipientBillingAddressState: string
                RecipientBillingAddressPostCode: string
                RecipientBillingAddressCountryCode: string
            text/json:
              TransactionID: 0
              AccountIDFK: 0
              TransactionPrefix: string
              InvoiceNumber: string
              CompanyIDFK: 0
              CompanyName: string
              Subject: string
              DateIssued: string
              DateSent: string
              DueDate: string
              TransactionStatusCode: string
              TaxAmount: 0
              TransactionTaxConfigCode: string
              Balance: 0
              CurrencyCode: string
              TotalAmount: 0
              ExchangeRate: 0
              Notes: string
              CustomerPONumber: string
              DateCreated: string
              DateUpdated: string
              LineItems:
                - TransactionLineItemID: 0
                  InventoryItemIDFK: 0
                  InventoryItemName: string
                  InventoryItemSKU: string
                  Description: string
                  Quantity: 0
                  UnitPrice: 0
                  TaxAmount: 0
                  TaxIDFK: 0
                  TaxCode: string
                  TaxName: string
                  ProjectIDFK: 0
                  ProjectTitle: string
                  Amount: 0
                  Discount: 0
              Links:
                ClientView: string
                View: string
                Edit: string
              Issuer:
                BillingAddress: string
                BillingAddressLine: string
                BillingAddressCity: string
                BillingAddressState: string
                BillingAddressPostCode: string
                BillingCountryCode: string
                TaxNumber: string
              Recipient:
                CompanyIDFK: 0
                CompanyName: string
                RecipientFormattedBillingAddress: string
                RecipientBillingAddressLine: string
                RecipientBillingAddressCity: string
                RecipientBillingAddressState: string
                RecipientBillingAddressPostCode: string
                RecipientBillingAddressCountryCode: string
            application/xml: "<Invoice>\r\n  <TransactionID>0</TransactionID>\r\n  <AccountIDFK>0</AccountIDFK>\r\n  <TransactionPrefix>string</TransactionPrefix>\r\n  <InvoiceNumber>string</InvoiceNumber>\r\n  <CompanyIDFK>0</CompanyIDFK>\r\n  <CompanyName>string</CompanyName>\r\n  <Subject>string</Subject>\r\n  <DateIssued>string</DateIssued>\r\n  <DateSent>string</DateSent>\r\n  <DueDate>string</DueDate>\r\n  <TransactionStatusCode>string</TransactionStatusCode>\r\n  <TaxAmount>0</TaxAmount>\r\n  <TransactionTaxConfigCode>string</TransactionTaxConfigCode>\r\n  <Balance>0</Balance>\r\n  <CurrencyCode>string</CurrencyCode>\r\n  <TotalAmount>0</TotalAmount>\r\n  <ExchangeRate>0</ExchangeRate>\r\n  <Notes>string</Notes>\r\n  <CustomerPONumber>string</CustomerPONumber>\r\n  <DateCreated>string</DateCreated>\r\n  <DateUpdated>string</DateUpdated>\r\n  <LineItems>\r\n    <TransactionLineItemID>0</TransactionLineItemID>\r\n    <InventoryItemIDFK>0</InventoryItemIDFK>\r\n    <InventoryItemName>string</InventoryItemName>\r\n    <InventoryItemSKU>string</InventoryItemSKU>\r\n    <Description>string</Description>\r\n    <Quantity>0</Quantity>\r\n    <UnitPrice>0</UnitPrice>\r\n    <TaxAmount>0</TaxAmount>\r\n    <TaxIDFK>0</TaxIDFK>\r\n    <TaxCode>string</TaxCode>\r\n    <TaxName>string</TaxName>\r\n    <ProjectIDFK>0</ProjectIDFK>\r\n    <ProjectTitle>string</ProjectTitle>\r\n    <Amount>0</Amount>\r\n    <Discount>0</Discount>\r\n  </LineItems>\r\n  <Links>\r\n    <ClientView>string</ClientView>\r\n    <View>string</View>\r\n    <Edit>string</Edit>\r\n  </Links>\r\n  <Issuer>\r\n    <BillingAddress>string</BillingAddress>\r\n    <BillingAddressLine>string</BillingAddressLine>\r\n    <BillingAddressCity>string</BillingAddressCity>\r\n    <BillingAddressState>string</BillingAddressState>\r\n    <BillingAddressPostCode>string</BillingAddressPostCode>\r\n    <BillingCountryCode>string</BillingCountryCode>\r\n    <TaxNumber>string</TaxNumber>\r\n  </Issuer>\r\n  <Recipient>\r\n    <CompanyIDFK>0</CompanyIDFK>\r\n    <CompanyName>string</CompanyName>\r\n    <RecipientFormattedBillingAddress>string</RecipientFormattedBillingAddress>\r\n    <RecipientBillingAddressLine>string</RecipientBillingAddressLine>\r\n    <RecipientBillingAddressCity>string</RecipientBillingAddressCity>\r\n    <RecipientBillingAddressState>string</RecipientBillingAddressState>\r\n    <RecipientBillingAddressPostCode>string</RecipientBillingAddressPostCode>\r\n    <RecipientBillingAddressCountryCode>string</RecipientBillingAddressCountryCode>\r\n  </Recipient>\r\n</Invoice>"
            text/xml: "<Invoice>\r\n  <TransactionID>0</TransactionID>\r\n  <AccountIDFK>0</AccountIDFK>\r\n  <TransactionPrefix>string</TransactionPrefix>\r\n  <InvoiceNumber>string</InvoiceNumber>\r\n  <CompanyIDFK>0</CompanyIDFK>\r\n  <CompanyName>string</CompanyName>\r\n  <Subject>string</Subject>\r\n  <DateIssued>string</DateIssued>\r\n  <DateSent>string</DateSent>\r\n  <DueDate>string</DueDate>\r\n  <TransactionStatusCode>string</TransactionStatusCode>\r\n  <TaxAmount>0</TaxAmount>\r\n  <TransactionTaxConfigCode>string</TransactionTaxConfigCode>\r\n  <Balance>0</Balance>\r\n  <CurrencyCode>string</CurrencyCode>\r\n  <TotalAmount>0</TotalAmount>\r\n  <ExchangeRate>0</ExchangeRate>\r\n  <Notes>string</Notes>\r\n  <CustomerPONumber>string</CustomerPONumber>\r\n  <DateCreated>string</DateCreated>\r\n  <DateUpdated>string</DateUpdated>\r\n  <LineItems>\r\n    <TransactionLineItemID>0</TransactionLineItemID>\r\n    <InventoryItemIDFK>0</InventoryItemIDFK>\r\n    <InventoryItemName>string</InventoryItemName>\r\n    <InventoryItemSKU>string</InventoryItemSKU>\r\n    <Description>string</Description>\r\n    <Quantity>0</Quantity>\r\n    <UnitPrice>0</UnitPrice>\r\n    <TaxAmount>0</TaxAmount>\r\n    <TaxIDFK>0</TaxIDFK>\r\n    <TaxCode>string</TaxCode>\r\n    <TaxName>string</TaxName>\r\n    <ProjectIDFK>0</ProjectIDFK>\r\n    <ProjectTitle>string</ProjectTitle>\r\n    <Amount>0</Amount>\r\n    <Discount>0</Discount>\r\n  </LineItems>\r\n  <Links>\r\n    <ClientView>string</ClientView>\r\n    <View>string</View>\r\n    <Edit>string</Edit>\r\n  </Links>\r\n  <Issuer>\r\n    <BillingAddress>string</BillingAddress>\r\n    <BillingAddressLine>string</BillingAddressLine>\r\n    <BillingAddressCity>string</BillingAddressCity>\r\n    <BillingAddressState>string</BillingAddressState>\r\n    <BillingAddressPostCode>string</BillingAddressPostCode>\r\n    <BillingCountryCode>string</BillingCountryCode>\r\n    <TaxNumber>string</TaxNumber>\r\n  </Issuer>\r\n  <Recipient>\r\n    <CompanyIDFK>0</CompanyIDFK>\r\n    <CompanyName>string</CompanyName>\r\n    <RecipientFormattedBillingAddress>string</RecipientFormattedBillingAddress>\r\n    <RecipientBillingAddressLine>string</RecipientBillingAddressLine>\r\n    <RecipientBillingAddressCity>string</RecipientBillingAddressCity>\r\n    <RecipientBillingAddressState>string</RecipientBillingAddressState>\r\n    <RecipientBillingAddressPostCode>string</RecipientBillingAddressPostCode>\r\n    <RecipientBillingAddressCountryCode>string</RecipientBillingAddressCountryCode>\r\n  </Recipient>\r\n</Invoice>"
    get:
      description: >-
        TransactionStatusCode values are: "Draft", "Sent", "Late", "Paid",
        "Partial", "Void"
      operationId: 61af66163938c852936fb4cc
      summary: Gets list of Invoices
      parameters:
        - name: UpdatedAfter
          in: query
          description: Format - date-time (as date-time in RFC3339).
          type: string
        - name: pageSize
          in: query
          description: Format - int32. Number of items per page (max 1000)
          type: integer
        - name: pageNumber
          in: query
          description: Format - int32. Page to display. Starts from 1.
          type: integer
        - name: Sort
          in: query
          type: string
        - name: CompanyIDFK
          in: query
          description: Format - int32.
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InvoiceList'
          examples:
            application/json:
              TotalCount: 0
              PageNumber: 0
              PageSize: 0
              Invoices:
                - TransactionID: 0
                  AccountIDFK: 0
                  TransactionPrefix: string
                  InvoiceNumber: string
                  CompanyIDFK: 0
                  CompanyName: string
                  Subject: string
                  DateIssued: string
                  DateSent: string
                  DueDate: string
                  TransactionStatusCode: string
                  TaxAmount: 0
                  TransactionTaxConfigCode: string
                  Balance: 0
                  CurrencyCode: string
                  TotalAmount: 0
                  ExchangeRate: 0
                  Notes: string
                  CustomerPONumber: string
                  DateCreated: string
                  DateUpdated: string
                  LineItems:
                    - TransactionLineItemID: 0
                      InventoryItemIDFK: 0
                      InventoryItemName: string
                      InventoryItemSKU: string
                      Description: string
                      Quantity: 0
                      UnitPrice: 0
                      TaxAmount: 0
                      TaxIDFK: 0
                      TaxCode: string
                      TaxName: string
                      ProjectIDFK: 0
                      ProjectTitle: string
                      Amount: 0
                      Discount: 0
                  Links:
                    ClientView: string
                    View: string
                    Edit: string
                  Issuer:
                    BillingAddress: string
                    BillingAddressLine: string
                    BillingAddressCity: string
                    BillingAddressState: string
                    BillingAddressPostCode: string
                    BillingCountryCode: string
                    TaxNumber: string
                  Recipient:
                    CompanyIDFK: 0
                    CompanyName: string
                    RecipientFormattedBillingAddress: string
                    RecipientBillingAddressLine: string
                    RecipientBillingAddressCity: string
                    RecipientBillingAddressState: string
                    RecipientBillingAddressPostCode: string
                    RecipientBillingAddressCountryCode: string
            text/json:
              TotalCount: 0
              PageNumber: 0
              PageSize: 0
              Invoices:
                - TransactionID: 0
                  AccountIDFK: 0
                  TransactionPrefix: string
                  InvoiceNumber: string
                  CompanyIDFK: 0
                  CompanyName: string
                  Subject: string
                  DateIssued: string
                  DateSent: string
                  DueDate: string
                  TransactionStatusCode: string
                  TaxAmount: 0
                  TransactionTaxConfigCode: string
                  Balance: 0
                  CurrencyCode: string
                  TotalAmount: 0
                  ExchangeRate: 0
                  Notes: string
                  CustomerPONumber: string
                  DateCreated: string
                  DateUpdated: string
                  LineItems:
                    - TransactionLineItemID: 0
                      InventoryItemIDFK: 0
                      InventoryItemName: string
                      InventoryItemSKU: string
                      Description: string
                      Quantity: 0
                      UnitPrice: 0
                      TaxAmount: 0
                      TaxIDFK: 0
                      TaxCode: string
                      TaxName: string
                      ProjectIDFK: 0
                      ProjectTitle: string
                      Amount: 0
                      Discount: 0
                  Links:
                    ClientView: string
                    View: string
                    Edit: string
                  Issuer:
                    BillingAddress: string
                    BillingAddressLine: string
                    BillingAddressCity: string
                    BillingAddressState: string
                    BillingAddressPostCode: string
                    BillingCountryCode: string
                    TaxNumber: string
                  Recipient:
                    CompanyIDFK: 0
                    CompanyName: string
                    RecipientFormattedBillingAddress: string
                    RecipientBillingAddressLine: string
                    RecipientBillingAddressCity: string
                    RecipientBillingAddressState: string
                    RecipientBillingAddressPostCode: string
                    RecipientBillingAddressCountryCode: string
            application/xml: "<InvoiceList>\r\n  <TotalCount>0</TotalCount>\r\n  <PageNumber>0</PageNumber>\r\n  <PageSize>0</PageSize>\r\n  <Invoices>\r\n    <TransactionID>0</TransactionID>\r\n    <AccountIDFK>0</AccountIDFK>\r\n    <TransactionPrefix>string</TransactionPrefix>\r\n    <InvoiceNumber>string</InvoiceNumber>\r\n    <CompanyIDFK>0</CompanyIDFK>\r\n    <CompanyName>string</CompanyName>\r\n    <Subject>string</Subject>\r\n    <DateIssued>string</DateIssued>\r\n    <DateSent>string</DateSent>\r\n    <DueDate>string</DueDate>\r\n    <TransactionStatusCode>string</TransactionStatusCode>\r\n    <TaxAmount>0</TaxAmount>\r\n    <TransactionTaxConfigCode>string</TransactionTaxConfigCode>\r\n    <Balance>0</Balance>\r\n    <CurrencyCode>string</CurrencyCode>\r\n    <TotalAmount>0</TotalAmount>\r\n    <ExchangeRate>0</ExchangeRate>\r\n    <Notes>string</Notes>\r\n    <CustomerPONumber>string</CustomerPONumber>\r\n    <DateCreated>string</DateCreated>\r\n    <DateUpdated>string</DateUpdated>\r\n    <LineItems>\r\n      <TransactionLineItemID>0</TransactionLineItemID>\r\n      <InventoryItemIDFK>0</InventoryItemIDFK>\r\n      <InventoryItemName>string</InventoryItemName>\r\n      <InventoryItemSKU>string</InventoryItemSKU>\r\n      <Description>string</Description>\r\n      <Quantity>0</Quantity>\r\n      <UnitPrice>0</UnitPrice>\r\n      <TaxAmount>0</TaxAmount>\r\n      <TaxIDFK>0</TaxIDFK>\r\n      <TaxCode>string</TaxCode>\r\n      <TaxName>string</TaxName>\r\n      <ProjectIDFK>0</ProjectIDFK>\r\n      <ProjectTitle>string</ProjectTitle>\r\n      <Amount>0</Amount>\r\n      <Discount>0</Discount>\r\n    </LineItems>\r\n    <Links>\r\n      <ClientView>string</ClientView>\r\n      <View>string</View>\r\n      <Edit>string</Edit>\r\n    </Links>\r\n    <Issuer>\r\n      <BillingAddress>string</BillingAddress>\r\n      <BillingAddressLine>string</BillingAddressLine>\r\n      <BillingAddressCity>string</BillingAddressCity>\r\n      <BillingAddressState>string</BillingAddressState>\r\n      <BillingAddressPostCode>string</BillingAddressPostCode>\r\n      <BillingCountryCode>string</BillingCountryCode>\r\n      <TaxNumber>string</TaxNumber>\r\n    </Issuer>\r\n    <Recipient>\r\n      <CompanyIDFK>0</CompanyIDFK>\r\n      <CompanyName>string</CompanyName>\r\n      <RecipientFormattedBillingAddress>string</RecipientFormattedBillingAddress>\r\n      <RecipientBillingAddressLine>string</RecipientBillingAddressLine>\r\n      <RecipientBillingAddressCity>string</RecipientBillingAddressCity>\r\n      <RecipientBillingAddressState>string</RecipientBillingAddressState>\r\n      <RecipientBillingAddressPostCode>string</RecipientBillingAddressPostCode>\r\n      <RecipientBillingAddressCountryCode>string</RecipientBillingAddressCountryCode>\r\n    </Recipient>\r\n  </Invoices>\r\n</InvoiceList>"
            text/xml: "<InvoiceList>\r\n  <TotalCount>0</TotalCount>\r\n  <PageNumber>0</PageNumber>\r\n  <PageSize>0</PageSize>\r\n  <Invoices>\r\n    <TransactionID>0</TransactionID>\r\n    <AccountIDFK>0</AccountIDFK>\r\n    <TransactionPrefix>string</TransactionPrefix>\r\n    <InvoiceNumber>string</InvoiceNumber>\r\n    <CompanyIDFK>0</CompanyIDFK>\r\n    <CompanyName>string</CompanyName>\r\n    <Subject>string</Subject>\r\n    <DateIssued>string</DateIssued>\r\n    <DateSent>string</DateSent>\r\n    <DueDate>string</DueDate>\r\n    <TransactionStatusCode>string</TransactionStatusCode>\r\n    <TaxAmount>0</TaxAmount>\r\n    <TransactionTaxConfigCode>string</TransactionTaxConfigCode>\r\n    <Balance>0</Balance>\r\n    <CurrencyCode>string</CurrencyCode>\r\n    <TotalAmount>0</TotalAmount>\r\n    <ExchangeRate>0</ExchangeRate>\r\n    <Notes>string</Notes>\r\n    <CustomerPONumber>string</CustomerPONumber>\r\n    <DateCreated>string</DateCreated>\r\n    <DateUpdated>string</DateUpdated>\r\n    <LineItems>\r\n      <TransactionLineItemID>0</TransactionLineItemID>\r\n      <InventoryItemIDFK>0</InventoryItemIDFK>\r\n      <InventoryItemName>string</InventoryItemName>\r\n      <InventoryItemSKU>string</InventoryItemSKU>\r\n      <Description>string</Description>\r\n      <Quantity>0</Quantity>\r\n      <UnitPrice>0</UnitPrice>\r\n      <TaxAmount>0</TaxAmount>\r\n      <TaxIDFK>0</TaxIDFK>\r\n      <TaxCode>string</TaxCode>\r\n      <TaxName>string</TaxName>\r\n      <ProjectIDFK>0</ProjectIDFK>\r\n      <ProjectTitle>string</ProjectTitle>\r\n      <Amount>0</Amount>\r\n      <Discount>0</Discount>\r\n    </LineItems>\r\n    <Links>\r\n      <ClientView>string</ClientView>\r\n      <View>string</View>\r\n      <Edit>string</Edit>\r\n    </Links>\r\n    <Issuer>\r\n      <BillingAddress>string</BillingAddress>\r\n      <BillingAddressLine>string</BillingAddressLine>\r\n      <BillingAddressCity>string</BillingAddressCity>\r\n      <BillingAddressState>string</BillingAddressState>\r\n      <BillingAddressPostCode>string</BillingAddressPostCode>\r\n      <BillingCountryCode>string</BillingCountryCode>\r\n      <TaxNumber>string</TaxNumber>\r\n    </Issuer>\r\n    <Recipient>\r\n      <CompanyIDFK>0</CompanyIDFK>\r\n      <CompanyName>string</CompanyName>\r\n      <RecipientFormattedBillingAddress>string</RecipientFormattedBillingAddress>\r\n      <RecipientBillingAddressLine>string</RecipientBillingAddressLine>\r\n      <RecipientBillingAddressCity>string</RecipientBillingAddressCity>\r\n      <RecipientBillingAddressState>string</RecipientBillingAddressState>\r\n      <RecipientBillingAddressPostCode>string</RecipientBillingAddressPostCode>\r\n      <RecipientBillingAddressCountryCode>string</RecipientBillingAddressCountryCode>\r\n    </Recipient>\r\n  </Invoices>\r\n</InvoiceList>"
        '401':
          description: Unauthorized
  /api/ProjectMember:
    post:
      description: >-
        the Amount columns for Cost, Budget, Rates should be specified as a
        decimal. Financial amounts assume the currency of the Customer company.
        Budget units depend on the Budget method set on the Project.
      operationId: 61af660b6e738f5ed82b6b2d
      summary: Assign a user as a Member of a Project
      parameters:
        - name: newProjectMember
          in: body
          schema:
            $ref: '#/definitions/NewProjectMember'
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProjectMemberDetails'
          examples:
            application/json:
              UserIDFK: 0
              Firstname: string
              Lastname: string
              Fullname: string
              Email: string
              CostAmount: 0
              RateAmount: 0
              BudgetAmount: 0
              isMemberDisabled: true
              isProjectManager: true
              isTimesheetAllowed: true
              isTimesheetApprover: true
              isTimesheetApprovalRequired: true
              canCreateTasks: true
              canDeleteTasks: true
              canCommentOnTasks: true
              canUpdateTasks: true
            text/json:
              UserIDFK: 0
              Firstname: string
              Lastname: string
              Fullname: string
              Email: string
              CostAmount: 0
              RateAmount: 0
              BudgetAmount: 0
              isMemberDisabled: true
              isProjectManager: true
              isTimesheetAllowed: true
              isTimesheetApprover: true
              isTimesheetApprovalRequired: true
              canCreateTasks: true
              canDeleteTasks: true
              canCommentOnTasks: true
              canUpdateTasks: true
            application/xml: "<ProjectMemberDetails>\r\n  <UserIDFK>0</UserIDFK>\r\n  <Firstname>string</Firstname>\r\n  <Lastname>string</Lastname>\r\n  <Fullname>string</Fullname>\r\n  <Email>string</Email>\r\n  <CostAmount>0</CostAmount>\r\n  <RateAmount>0</RateAmount>\r\n  <BudgetAmount>0</BudgetAmount>\r\n  <isMemberDisabled>true</isMemberDisabled>\r\n  <isProjectManager>true</isProjectManager>\r\n  <isTimesheetAllowed>true</isTimesheetAllowed>\r\n  <isTimesheetApprover>true</isTimesheetApprover>\r\n  <isTimesheetApprovalRequired>true</isTimesheetApprovalRequired>\r\n  <canCreateTasks>true</canCreateTasks>\r\n  <canDeleteTasks>true</canDeleteTasks>\r\n  <canCommentOnTasks>true</canCommentOnTasks>\r\n  <canUpdateTasks>true</canUpdateTasks>\r\n</ProjectMemberDetails>"
            text/xml: "<ProjectMemberDetails>\r\n  <UserIDFK>0</UserIDFK>\r\n  <Firstname>string</Firstname>\r\n  <Lastname>string</Lastname>\r\n  <Fullname>string</Fullname>\r\n  <Email>string</Email>\r\n  <CostAmount>0</CostAmount>\r\n  <RateAmount>0</RateAmount>\r\n  <BudgetAmount>0</BudgetAmount>\r\n  <isMemberDisabled>true</isMemberDisabled>\r\n  <isProjectManager>true</isProjectManager>\r\n  <isTimesheetAllowed>true</isTimesheetAllowed>\r\n  <isTimesheetApprover>true</isTimesheetApprover>\r\n  <isTimesheetApprovalRequired>true</isTimesheetApprovalRequired>\r\n  <canCreateTasks>true</canCreateTasks>\r\n  <canDeleteTasks>true</canDeleteTasks>\r\n  <canCommentOnTasks>true</canCommentOnTasks>\r\n  <canUpdateTasks>true</canUpdateTasks>\r\n</ProjectMemberDetails>"
  '/api/CreditNote/{id}':
    get:
      description: Gets Credit Note by CreditNoteID
      operationId: 61af660c064b72e5183b9769
      summary: Gets Credit Note by CreditNoteID
      parameters:
        - name: id
          in: path
          description: Format - int64. Credit Note ID Number
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreditNote'
          examples:
            application/json:
              TransactionID: 0
              TransactionPrefix: string
              CreditNoteNumber: string
              CustomerIDFK: 0
              DateIssued: string
              TransactionStatusCode: string
              Balance: 0
              CurrencyCode: string
              TotalAmount: 0
              Notes: string
              DateCreated: string
              DateUpdated: string
              CreditNoteAllocations:
                - TransactionAllocationID: 0
                  InvoiceTransactionIDFK: 0
                  CreditNoteTransactionIDFK: 0
                  AllocationDate: string
                  AllocationAmount: 0
              CreditNoteLineItems:
                - TransactionLineItemID: 0
                  Description: string
                  Quantity: 0
                  UnitPrice: 0
                  TaxAmount: 0
                  TaxIDFK: 0
                  Amount: 0
                  Discount: 0
            text/json:
              TransactionID: 0
              TransactionPrefix: string
              CreditNoteNumber: string
              CustomerIDFK: 0
              DateIssued: string
              TransactionStatusCode: string
              Balance: 0
              CurrencyCode: string
              TotalAmount: 0
              Notes: string
              DateCreated: string
              DateUpdated: string
              CreditNoteAllocations:
                - TransactionAllocationID: 0
                  InvoiceTransactionIDFK: 0
                  CreditNoteTransactionIDFK: 0
                  AllocationDate: string
                  AllocationAmount: 0
              CreditNoteLineItems:
                - TransactionLineItemID: 0
                  Description: string
                  Quantity: 0
                  UnitPrice: 0
                  TaxAmount: 0
                  TaxIDFK: 0
                  Amount: 0
                  Discount: 0
            application/xml: "<CreditNote>\r\n  <TransactionID>0</TransactionID>\r\n  <TransactionPrefix>string</TransactionPrefix>\r\n  <CreditNoteNumber>string</CreditNoteNumber>\r\n  <CustomerIDFK>0</CustomerIDFK>\r\n  <DateIssued>string</DateIssued>\r\n  <TransactionStatusCode>string</TransactionStatusCode>\r\n  <Balance>0</Balance>\r\n  <CurrencyCode>string</CurrencyCode>\r\n  <TotalAmount>0</TotalAmount>\r\n  <Notes>string</Notes>\r\n  <DateCreated>string</DateCreated>\r\n  <DateUpdated>string</DateUpdated>\r\n  <CreditNoteAllocations>\r\n    <TransactionAllocationID>0</TransactionAllocationID>\r\n    <InvoiceTransactionIDFK>0</InvoiceTransactionIDFK>\r\n    <CreditNoteTransactionIDFK>0</CreditNoteTransactionIDFK>\r\n    <AllocationDate>string</AllocationDate>\r\n    <AllocationAmount>0</AllocationAmount>\r\n  </CreditNoteAllocations>\r\n  <CreditNoteLineItems>\r\n    <TransactionLineItemID>0</TransactionLineItemID>\r\n    <Description>string</Description>\r\n    <Quantity>0</Quantity>\r\n    <UnitPrice>0</UnitPrice>\r\n    <TaxAmount>0</TaxAmount>\r\n    <TaxIDFK>0</TaxIDFK>\r\n    <Amount>0</Amount>\r\n    <Discount>0</Discount>\r\n  </CreditNoteLineItems>\r\n</CreditNote>"
            text/xml: "<CreditNote>\r\n  <TransactionID>0</TransactionID>\r\n  <TransactionPrefix>string</TransactionPrefix>\r\n  <CreditNoteNumber>string</CreditNoteNumber>\r\n  <CustomerIDFK>0</CustomerIDFK>\r\n  <DateIssued>string</DateIssued>\r\n  <TransactionStatusCode>string</TransactionStatusCode>\r\n  <Balance>0</Balance>\r\n  <CurrencyCode>string</CurrencyCode>\r\n  <TotalAmount>0</TotalAmount>\r\n  <Notes>string</Notes>\r\n  <DateCreated>string</DateCreated>\r\n  <DateUpdated>string</DateUpdated>\r\n  <CreditNoteAllocations>\r\n    <TransactionAllocationID>0</TransactionAllocationID>\r\n    <InvoiceTransactionIDFK>0</InvoiceTransactionIDFK>\r\n    <CreditNoteTransactionIDFK>0</CreditNoteTransactionIDFK>\r\n    <AllocationDate>string</AllocationDate>\r\n    <AllocationAmount>0</AllocationAmount>\r\n  </CreditNoteAllocations>\r\n  <CreditNoteLineItems>\r\n    <TransactionLineItemID>0</TransactionLineItemID>\r\n    <Description>string</Description>\r\n    <Quantity>0</Quantity>\r\n    <UnitPrice>0</UnitPrice>\r\n    <TaxAmount>0</TaxAmount>\r\n    <TaxIDFK>0</TaxIDFK>\r\n    <Amount>0</Amount>\r\n    <Discount>0</Discount>\r\n  </CreditNoteLineItems>\r\n</CreditNote>"
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  /api/Contact:
    post:
      description: Create a Contact
      operationId: 61af660b6c96d6ef9a8c463c
      summary: Create a Contact
      parameters:
        - name: newCompanyContact
          in: body
          schema:
            $ref: '#/definitions/NewCompanyContact'
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CompanyContact'
          examples:
            application/json:
              ContactID: 0
              CompanyIDFK: 0
              CompanyName: string
              Firstname: string
              Lastname: string
              Email: string
              Phone: string
              Mobile: string
              PositionTitle: string
              TimeZone: string
              DateCreated: string
              DateUpdated: string
            text/json:
              ContactID: 0
              CompanyIDFK: 0
              CompanyName: string
              Firstname: string
              Lastname: string
              Email: string
              Phone: string
              Mobile: string
              PositionTitle: string
              TimeZone: string
              DateCreated: string
              DateUpdated: string
            application/xml: "<CompanyContact>\r\n  <ContactID>0</ContactID>\r\n  <CompanyIDFK>0</CompanyIDFK>\r\n  <CompanyName>string</CompanyName>\r\n  <Firstname>string</Firstname>\r\n  <Lastname>string</Lastname>\r\n  <Email>string</Email>\r\n  <Phone>string</Phone>\r\n  <Mobile>string</Mobile>\r\n  <PositionTitle>string</PositionTitle>\r\n  <TimeZone>string</TimeZone>\r\n  <DateCreated>string</DateCreated>\r\n  <DateUpdated>string</DateUpdated>\r\n</CompanyContact>"
            text/xml: "<CompanyContact>\r\n  <ContactID>0</ContactID>\r\n  <CompanyIDFK>0</CompanyIDFK>\r\n  <CompanyName>string</CompanyName>\r\n  <Firstname>string</Firstname>\r\n  <Lastname>string</Lastname>\r\n  <Email>string</Email>\r\n  <Phone>string</Phone>\r\n  <Mobile>string</Mobile>\r\n  <PositionTitle>string</PositionTitle>\r\n  <TimeZone>string</TimeZone>\r\n  <DateCreated>string</DateCreated>\r\n  <DateUpdated>string</DateUpdated>\r\n</CompanyContact>"
        '401':
          description: Unauthorized
    get:
      description: Gets list of Contacts
      operationId: 61af661118bcc76c2f6de717
      summary: Gets list of Contacts
      parameters:
        - name: UpdatedAfter
          in: query
          description: Format - date-time (as date-time in RFC3339).
          type: string
        - name: pageSize
          in: query
          description: Format - int32. Number of items per page (max 1000)
          type: integer
        - name: pageNumber
          in: query
          description: Format - int32. Page to display. Starts from 1.
          type: integer
        - name: Sort
          in: query
          type: string
        - name: CompanyIDFK
          in: query
          description: Format - int32.
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ContactList'
          examples:
            application/json:
              Contacts:
                - ContactID: 0
                  CompanyIDFK: 0
                  CompanyName: string
                  Firstname: string
                  Lastname: string
                  Email: string
                  Phone: string
                  Mobile: string
                  PositionTitle: string
                  TimeZone: string
                  DateCreated: string
                  DateUpdated: string
              TotalCount: 0
              PageNumber: 0
              PageSize: 0
            text/json:
              Contacts:
                - ContactID: 0
                  CompanyIDFK: 0
                  CompanyName: string
                  Firstname: string
                  Lastname: string
                  Email: string
                  Phone: string
                  Mobile: string
                  PositionTitle: string
                  TimeZone: string
                  DateCreated: string
                  DateUpdated: string
              TotalCount: 0
              PageNumber: 0
              PageSize: 0
            application/xml: "<ContactList>\r\n  <Contacts>\r\n    <ContactID>0</ContactID>\r\n    <CompanyIDFK>0</CompanyIDFK>\r\n    <CompanyName>string</CompanyName>\r\n    <Firstname>string</Firstname>\r\n    <Lastname>string</Lastname>\r\n    <Email>string</Email>\r\n    <Phone>string</Phone>\r\n    <Mobile>string</Mobile>\r\n    <PositionTitle>string</PositionTitle>\r\n    <TimeZone>string</TimeZone>\r\n    <DateCreated>string</DateCreated>\r\n    <DateUpdated>string</DateUpdated>\r\n  </Contacts>\r\n  <TotalCount>0</TotalCount>\r\n  <PageNumber>0</PageNumber>\r\n  <PageSize>0</PageSize>\r\n</ContactList>"
            text/xml: "<ContactList>\r\n  <Contacts>\r\n    <ContactID>0</ContactID>\r\n    <CompanyIDFK>0</CompanyIDFK>\r\n    <CompanyName>string</CompanyName>\r\n    <Firstname>string</Firstname>\r\n    <Lastname>string</Lastname>\r\n    <Email>string</Email>\r\n    <Phone>string</Phone>\r\n    <Mobile>string</Mobile>\r\n    <PositionTitle>string</PositionTitle>\r\n    <TimeZone>string</TimeZone>\r\n    <DateCreated>string</DateCreated>\r\n    <DateUpdated>string</DateUpdated>\r\n  </Contacts>\r\n  <TotalCount>0</TotalCount>\r\n  <PageNumber>0</PageNumber>\r\n  <PageSize>0</PageSize>\r\n</ContactList>"
        '401':
          description: Unauthorized
  /ScheduleSeries/AddBooking:
    post:
      description: Create new Schedule Booking
      operationId: 61af660dc3cb8980ec591a5a
      summary: Create new Schedule Booking
      parameters:
        - name: createBooking
          in: body
          schema:
            $ref: '#/definitions/CreateBooking'
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ScheduleSeriesDetails'
          examples:
            application/json:
              ScheduleSeriesID: 0
              AccountIDFK: 0
              UserIDFK: 0
              Firstname: string
              Lastname: string
              ProjectIDFK: 0
              ProjectTitle: string
              CompanyIDFK: 0
              CompanyName: string
              TimeSheetCategoryIDFK: 0
              TimeSheetCategoryName: string
              LeaveTypeIDFK: 0
              LeaveTypeName: string
              StartDate: string
              EndDate: string
              HoursPerDay: 0
              TotalDuration: 0
              ScheduleOnDaysOff: true
              Notes: string
              TaskIDFK: 0
              TaskTitle: string
              DateCreated: string
              DateUpdated: string
              UpdatedByUserIDFK: 0
            text/json:
              ScheduleSeriesID: 0
              AccountIDFK: 0
              UserIDFK: 0
              Firstname: string
              Lastname: string
              ProjectIDFK: 0
              ProjectTitle: string
              CompanyIDFK: 0
              CompanyName: string
              TimeSheetCategoryIDFK: 0
              TimeSheetCategoryName: string
              LeaveTypeIDFK: 0
              LeaveTypeName: string
              StartDate: string
              EndDate: string
              HoursPerDay: 0
              TotalDuration: 0
              ScheduleOnDaysOff: true
              Notes: string
              TaskIDFK: 0
              TaskTitle: string
              DateCreated: string
              DateUpdated: string
              UpdatedByUserIDFK: 0
            application/xml: "<ScheduleSeriesDetails>\r\n  <ScheduleSeriesID>0</ScheduleSeriesID>\r\n  <AccountIDFK>0</AccountIDFK>\r\n  <UserIDFK>0</UserIDFK>\r\n  <Firstname>string</Firstname>\r\n  <Lastname>string</Lastname>\r\n  <ProjectIDFK>0</ProjectIDFK>\r\n  <ProjectTitle>string</ProjectTitle>\r\n  <CompanyIDFK>0</CompanyIDFK>\r\n  <CompanyName>string</CompanyName>\r\n  <TimeSheetCategoryIDFK>0</TimeSheetCategoryIDFK>\r\n  <TimeSheetCategoryName>string</TimeSheetCategoryName>\r\n  <LeaveTypeIDFK>0</LeaveTypeIDFK>\r\n  <LeaveTypeName>string</LeaveTypeName>\r\n  <StartDate>string</StartDate>\r\n  <EndDate>string</EndDate>\r\n  <HoursPerDay>0</HoursPerDay>\r\n  <TotalDuration>0</TotalDuration>\r\n  <ScheduleOnDaysOff>true</ScheduleOnDaysOff>\r\n  <Notes>string</Notes>\r\n  <TaskIDFK>0</TaskIDFK>\r\n  <TaskTitle>string</TaskTitle>\r\n  <DateCreated>string</DateCreated>\r\n  <DateUpdated>string</DateUpdated>\r\n  <UpdatedByUserIDFK>0</UpdatedByUserIDFK>\r\n</ScheduleSeriesDetails>"
            text/xml: "<ScheduleSeriesDetails>\r\n  <ScheduleSeriesID>0</ScheduleSeriesID>\r\n  <AccountIDFK>0</AccountIDFK>\r\n  <UserIDFK>0</UserIDFK>\r\n  <Firstname>string</Firstname>\r\n  <Lastname>string</Lastname>\r\n  <ProjectIDFK>0</ProjectIDFK>\r\n  <ProjectTitle>string</ProjectTitle>\r\n  <CompanyIDFK>0</CompanyIDFK>\r\n  <CompanyName>string</CompanyName>\r\n  <TimeSheetCategoryIDFK>0</TimeSheetCategoryIDFK>\r\n  <TimeSheetCategoryName>string</TimeSheetCategoryName>\r\n  <LeaveTypeIDFK>0</LeaveTypeIDFK>\r\n  <LeaveTypeName>string</LeaveTypeName>\r\n  <StartDate>string</StartDate>\r\n  <EndDate>string</EndDate>\r\n  <HoursPerDay>0</HoursPerDay>\r\n  <TotalDuration>0</TotalDuration>\r\n  <ScheduleOnDaysOff>true</ScheduleOnDaysOff>\r\n  <Notes>string</Notes>\r\n  <TaskIDFK>0</TaskIDFK>\r\n  <TaskTitle>string</TaskTitle>\r\n  <DateCreated>string</DateCreated>\r\n  <DateUpdated>string</DateUpdated>\r\n  <UpdatedByUserIDFK>0</UpdatedByUserIDFK>\r\n</ScheduleSeriesDetails>"
  '/api/Company/{id}':
    get:
      description: Gets Company by Company ID
      operationId: 61af66100d7c44865cbb1239
      summary: Gets Company by Company ID
      parameters:
        - name: id
          in: path
          description: Format - int64. Company ID Number
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Company'
          examples:
            application/json:
              CompanyID: 0
              CompanyName: string
              BillingAddressLine: string
              BillingAddressCity: string
              BillingAddressState: string
              BillingAddressPostCode: string
              BillingCountryCode: string
              BillingAddress: string
              Phone: string
              Fax: string
              website: string
              TaxNumber: string
              Comments: string
              CurrencyCode: string
              DefaultTradingTermIDFK: 0
              DateCreated: string
              DateUpdated: string
              Contacts:
                - ContactID: 0
                  CompanyIDFK: 0
                  CompanyName: string
                  Firstname: string
                  Lastname: string
                  Email: string
                  Phone: string
                  Mobile: string
                  PositionTitle: string
                  TimeZone: string
                  DateCreated: string
                  DateUpdated: string
            text/json:
              CompanyID: 0
              CompanyName: string
              BillingAddressLine: string
              BillingAddressCity: string
              BillingAddressState: string
              BillingAddressPostCode: string
              BillingCountryCode: string
              BillingAddress: string
              Phone: string
              Fax: string
              website: string
              TaxNumber: string
              Comments: string
              CurrencyCode: string
              DefaultTradingTermIDFK: 0
              DateCreated: string
              DateUpdated: string
              Contacts:
                - ContactID: 0
                  CompanyIDFK: 0
                  CompanyName: string
                  Firstname: string
                  Lastname: string
                  Email: string
                  Phone: string
                  Mobile: string
                  PositionTitle: string
                  TimeZone: string
                  DateCreated: string
                  DateUpdated: string
            application/xml: "<Company>\r\n  <CompanyID>0</CompanyID>\r\n  <CompanyName>string</CompanyName>\r\n  <BillingAddressLine>string</BillingAddressLine>\r\n  <BillingAddressCity>string</BillingAddressCity>\r\n  <BillingAddressState>string</BillingAddressState>\r\n  <BillingAddressPostCode>string</BillingAddressPostCode>\r\n  <BillingCountryCode>string</BillingCountryCode>\r\n  <BillingAddress>string</BillingAddress>\r\n  <Phone>string</Phone>\r\n  <Fax>string</Fax>\r\n  <website>string</website>\r\n  <TaxNumber>string</TaxNumber>\r\n  <Comments>string</Comments>\r\n  <CurrencyCode>string</CurrencyCode>\r\n  <DefaultTradingTermIDFK>0</DefaultTradingTermIDFK>\r\n  <DateCreated>string</DateCreated>\r\n  <DateUpdated>string</DateUpdated>\r\n  <Contacts>\r\n    <ContactID>0</ContactID>\r\n    <CompanyIDFK>0</CompanyIDFK>\r\n    <CompanyName>string</CompanyName>\r\n    <Firstname>string</Firstname>\r\n    <Lastname>string</Lastname>\r\n    <Email>string</Email>\r\n    <Phone>string</Phone>\r\n    <Mobile>string</Mobile>\r\n    <PositionTitle>string</PositionTitle>\r\n    <TimeZone>string</TimeZone>\r\n    <DateCreated>string</DateCreated>\r\n    <DateUpdated>string</DateUpdated>\r\n  </Contacts>\r\n</Company>"
            text/xml: "<Company>\r\n  <CompanyID>0</CompanyID>\r\n  <CompanyName>string</CompanyName>\r\n  <BillingAddressLine>string</BillingAddressLine>\r\n  <BillingAddressCity>string</BillingAddressCity>\r\n  <BillingAddressState>string</BillingAddressState>\r\n  <BillingAddressPostCode>string</BillingAddressPostCode>\r\n  <BillingCountryCode>string</BillingCountryCode>\r\n  <BillingAddress>string</BillingAddress>\r\n  <Phone>string</Phone>\r\n  <Fax>string</Fax>\r\n  <website>string</website>\r\n  <TaxNumber>string</TaxNumber>\r\n  <Comments>string</Comments>\r\n  <CurrencyCode>string</CurrencyCode>\r\n  <DefaultTradingTermIDFK>0</DefaultTradingTermIDFK>\r\n  <DateCreated>string</DateCreated>\r\n  <DateUpdated>string</DateUpdated>\r\n  <Contacts>\r\n    <ContactID>0</ContactID>\r\n    <CompanyIDFK>0</CompanyIDFK>\r\n    <CompanyName>string</CompanyName>\r\n    <Firstname>string</Firstname>\r\n    <Lastname>string</Lastname>\r\n    <Email>string</Email>\r\n    <Phone>string</Phone>\r\n    <Mobile>string</Mobile>\r\n    <PositionTitle>string</PositionTitle>\r\n    <TimeZone>string</TimeZone>\r\n    <DateCreated>string</DateCreated>\r\n    <DateUpdated>string</DateUpdated>\r\n  </Contacts>\r\n</Company>"
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  /api/Payment:
    post:
      description: Create new Payment and optionally assign payment allocations to Invoices
      operationId: 61af660d9c6ca887c9cec12c
      summary: Create new Payment and optionally assign payment allocations to Invoices
      parameters:
        - name: newPayment
          in: body
          schema:
            $ref: '#/definitions/NewPayment'
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Payment'
          examples:
            application/json:
              TransactionID: 0
              AccountIDFK: 0
              TransactionPrefix: string
              PaymentNumber: string
              TransactionReference: string
              CustomerIDFK: 0
              DateIssued: string
              TransactionStatusCode: string
              PaymentProviderCode: string
              ExchangeRate: 0
              Balance: 0
              CurrencyCode: string
              TotalAmount: 0
              Notes: string
              DateCreated: string
              DateUpdated: string
              PaymentAllocations:
                - TransactionAllocationID: 0
                  InvoiceTransactionIDFK: 0
                  PaymentTransactionIDFK: 0
                  AllocationDate: string
                  AllocationAmount: 0
            text/json:
              TransactionID: 0
              AccountIDFK: 0
              TransactionPrefix: string
              PaymentNumber: string
              TransactionReference: string
              CustomerIDFK: 0
              DateIssued: string
              TransactionStatusCode: string
              PaymentProviderCode: string
              ExchangeRate: 0
              Balance: 0
              CurrencyCode: string
              TotalAmount: 0
              Notes: string
              DateCreated: string
              DateUpdated: string
              PaymentAllocations:
                - TransactionAllocationID: 0
                  InvoiceTransactionIDFK: 0
                  PaymentTransactionIDFK: 0
                  AllocationDate: string
                  AllocationAmount: 0
            application/xml: "<Payment>\r\n  <TransactionID>0</TransactionID>\r\n  <AccountIDFK>0</AccountIDFK>\r\n  <TransactionPrefix>string</TransactionPrefix>\r\n  <PaymentNumber>string</PaymentNumber>\r\n  <TransactionReference>string</TransactionReference>\r\n  <CustomerIDFK>0</CustomerIDFK>\r\n  <DateIssued>string</DateIssued>\r\n  <TransactionStatusCode>string</TransactionStatusCode>\r\n  <PaymentProviderCode>string</PaymentProviderCode>\r\n  <ExchangeRate>0</ExchangeRate>\r\n  <Balance>0</Balance>\r\n  <CurrencyCode>string</CurrencyCode>\r\n  <TotalAmount>0</TotalAmount>\r\n  <Notes>string</Notes>\r\n  <DateCreated>string</DateCreated>\r\n  <DateUpdated>string</DateUpdated>\r\n  <PaymentAllocations>\r\n    <TransactionAllocationID>0</TransactionAllocationID>\r\n    <InvoiceTransactionIDFK>0</InvoiceTransactionIDFK>\r\n    <PaymentTransactionIDFK>0</PaymentTransactionIDFK>\r\n    <AllocationDate>string</AllocationDate>\r\n    <AllocationAmount>0</AllocationAmount>\r\n  </PaymentAllocations>\r\n</Payment>"
            text/xml: "<Payment>\r\n  <TransactionID>0</TransactionID>\r\n  <AccountIDFK>0</AccountIDFK>\r\n  <TransactionPrefix>string</TransactionPrefix>\r\n  <PaymentNumber>string</PaymentNumber>\r\n  <TransactionReference>string</TransactionReference>\r\n  <CustomerIDFK>0</CustomerIDFK>\r\n  <DateIssued>string</DateIssued>\r\n  <TransactionStatusCode>string</TransactionStatusCode>\r\n  <PaymentProviderCode>string</PaymentProviderCode>\r\n  <ExchangeRate>0</ExchangeRate>\r\n  <Balance>0</Balance>\r\n  <CurrencyCode>string</CurrencyCode>\r\n  <TotalAmount>0</TotalAmount>\r\n  <Notes>string</Notes>\r\n  <DateCreated>string</DateCreated>\r\n  <DateUpdated>string</DateUpdated>\r\n  <PaymentAllocations>\r\n    <TransactionAllocationID>0</TransactionAllocationID>\r\n    <InvoiceTransactionIDFK>0</InvoiceTransactionIDFK>\r\n    <PaymentTransactionIDFK>0</PaymentTransactionIDFK>\r\n    <AllocationDate>string</AllocationDate>\r\n    <AllocationAmount>0</AllocationAmount>\r\n  </PaymentAllocations>\r\n</Payment>"
    get:
      description: Gets list of Payments
      operationId: 61af661415d0c7152b88ed65
      summary: Gets list of Payments
      parameters:
        - name: UpdatedAfter
          in: query
          description: Format - date-time (as date-time in RFC3339).
          type: string
        - name: pageSize
          in: query
          description: Format - int32. Number of items per page (max 1000)
          type: integer
        - name: pageNumber
          in: query
          description: Format - int32. Page to display. Starts from 1.
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PaymentList'
          examples:
            application/json:
              TotalCount: 0
              PageNumber: 0
              PageSize: 0
              Payments:
                - TransactionID: 0
                  AccountIDFK: 0
                  TransactionPrefix: string
                  PaymentNumber: string
                  TransactionReference: string
                  CustomerIDFK: 0
                  DateIssued: string
                  TransactionStatusCode: string
                  PaymentProviderCode: string
                  ExchangeRate: 0
                  Balance: 0
                  CurrencyCode: string
                  TotalAmount: 0
                  Notes: string
                  DateCreated: string
                  DateUpdated: string
                  PaymentAllocations:
                    - TransactionAllocationID: 0
                      InvoiceTransactionIDFK: 0
                      PaymentTransactionIDFK: 0
                      AllocationDate: string
                      AllocationAmount: 0
            text/json:
              TotalCount: 0
              PageNumber: 0
              PageSize: 0
              Payments:
                - TransactionID: 0
                  AccountIDFK: 0
                  TransactionPrefix: string
                  PaymentNumber: string
                  TransactionReference: string
                  CustomerIDFK: 0
                  DateIssued: string
                  TransactionStatusCode: string
                  PaymentProviderCode: string
                  ExchangeRate: 0
                  Balance: 0
                  CurrencyCode: string
                  TotalAmount: 0
                  Notes: string
                  DateCreated: string
                  DateUpdated: string
                  PaymentAllocations:
                    - TransactionAllocationID: 0
                      InvoiceTransactionIDFK: 0
                      PaymentTransactionIDFK: 0
                      AllocationDate: string
                      AllocationAmount: 0
            application/xml: "<PaymentList>\r\n  <TotalCount>0</TotalCount>\r\n  <PageNumber>0</PageNumber>\r\n  <PageSize>0</PageSize>\r\n  <Payments>\r\n    <TransactionID>0</TransactionID>\r\n    <AccountIDFK>0</AccountIDFK>\r\n    <TransactionPrefix>string</TransactionPrefix>\r\n    <PaymentNumber>string</PaymentNumber>\r\n    <TransactionReference>string</TransactionReference>\r\n    <CustomerIDFK>0</CustomerIDFK>\r\n    <DateIssued>string</DateIssued>\r\n    <TransactionStatusCode>string</TransactionStatusCode>\r\n    <PaymentProviderCode>string</PaymentProviderCode>\r\n    <ExchangeRate>0</ExchangeRate>\r\n    <Balance>0</Balance>\r\n    <CurrencyCode>string</CurrencyCode>\r\n    <TotalAmount>0</TotalAmount>\r\n    <Notes>string</Notes>\r\n    <DateCreated>string</DateCreated>\r\n    <DateUpdated>string</DateUpdated>\r\n    <PaymentAllocations>\r\n      <TransactionAllocationID>0</TransactionAllocationID>\r\n      <InvoiceTransactionIDFK>0</InvoiceTransactionIDFK>\r\n      <PaymentTransactionIDFK>0</PaymentTransactionIDFK>\r\n      <AllocationDate>string</AllocationDate>\r\n      <AllocationAmount>0</AllocationAmount>\r\n    </PaymentAllocations>\r\n  </Payments>\r\n</PaymentList>"
            text/xml: "<PaymentList>\r\n  <TotalCount>0</TotalCount>\r\n  <PageNumber>0</PageNumber>\r\n  <PageSize>0</PageSize>\r\n  <Payments>\r\n    <TransactionID>0</TransactionID>\r\n    <AccountIDFK>0</AccountIDFK>\r\n    <TransactionPrefix>string</TransactionPrefix>\r\n    <PaymentNumber>string</PaymentNumber>\r\n    <TransactionReference>string</TransactionReference>\r\n    <CustomerIDFK>0</CustomerIDFK>\r\n    <DateIssued>string</DateIssued>\r\n    <TransactionStatusCode>string</TransactionStatusCode>\r\n    <PaymentProviderCode>string</PaymentProviderCode>\r\n    <ExchangeRate>0</ExchangeRate>\r\n    <Balance>0</Balance>\r\n    <CurrencyCode>string</CurrencyCode>\r\n    <TotalAmount>0</TotalAmount>\r\n    <Notes>string</Notes>\r\n    <DateCreated>string</DateCreated>\r\n    <DateUpdated>string</DateUpdated>\r\n    <PaymentAllocations>\r\n      <TransactionAllocationID>0</TransactionAllocationID>\r\n      <InvoiceTransactionIDFK>0</InvoiceTransactionIDFK>\r\n      <PaymentTransactionIDFK>0</PaymentTransactionIDFK>\r\n      <AllocationDate>string</AllocationDate>\r\n      <AllocationAmount>0</AllocationAmount>\r\n    </PaymentAllocations>\r\n  </Payments>\r\n</PaymentList>"
        '401':
          description: Unauthorized
  /api/Webhook:
    delete:
      description: Delete webhook subscription by URL
      operationId: 61af6610ce73c9e4bfe7a2e6
      summary: Delete webhook subscription by URL
      parameters:
        - name: target_url
          in: query
          description: Target URL that should be used to delete subscriptions
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: Subscription Deleted OK
          schema:
            $ref: '#/definitions/ApiWebhookDelete200TextXmlResponse'
          examples:
            application/json: {}
            text/json: {}
            application/xml: <ApiWebhookDelete200ApplicationXmlResponse />
            text/xml: <ApiWebhookDelete200TextXmlResponse />
        '401':
          description: Unauthorized
    get:
      description: Get list of Webhook Subscriptions
      operationId: 61af660fde967dea36d987d3
      summary: Get list of Webhook Subscriptions
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WebhookList'
          examples:
            application/json:
              Webhooks:
                - SubscriptionID: 0
                  EventCode: string
                  NotificationURL: string
                  UserIDFK: 0
            text/json:
              Webhooks:
                - SubscriptionID: 0
                  EventCode: string
                  NotificationURL: string
                  UserIDFK: 0
            application/xml: "<WebhookList>\r\n  <Webhooks>\r\n    <SubscriptionID>0</SubscriptionID>\r\n    <EventCode>string</EventCode>\r\n    <NotificationURL>string</NotificationURL>\r\n    <UserIDFK>0</UserIDFK>\r\n  </Webhooks>\r\n</WebhookList>"
            text/xml: "<WebhookList>\r\n  <Webhooks>\r\n    <SubscriptionID>0</SubscriptionID>\r\n    <EventCode>string</EventCode>\r\n    <NotificationURL>string</NotificationURL>\r\n    <UserIDFK>0</UserIDFK>\r\n  </Webhooks>\r\n</WebhookList>"
    post:
      description: >-
        When you receive a webhook, you should respond with Http 200 OK Status
        Code, otherwise we will retry. To create a webhook, you need both the
        webhook_notifications scope, as well as the scope for the required
        entity being monitored.  Event values are: "company_created",
        "company_deleted", "company_updated", "contact_created",
        "contact_deleted", "contact_updated", "invoice_created",
        "invoice_sent","invoice_updated","invoice_deleted", "project_created",
        "project_deleted", "project_updated", "task_created",
        "task_updated","task_deleted", "timesheet_created", "timesheet_deleted",
        "timesheet_updated".  You can subscribe to any webhook, but you will
        only receive notifications for data appropriate to the roles of your
        user account. There is an optional  Secret parameter (string 255 char
        max). This allows for webhook authentication. If provided, the Secret
        will be BASE 64 encoded and passed with notications as a basic
        authentication http header. i.e. Authorization Basic [BASE64 of Secret]"
      operationId: 61af661ab2774d193ff03120
      summary: 'Subscribe to Webhook. On success, returns ID of webhook subscription.'
      parameters:
        - name: createSubscription
          in: body
          schema:
            $ref: '#/definitions/CreateSubscription'
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '201':
          description: Subscription created
          schema:
            $ref: '#/definitions/SubscribeResult'
          examples:
            application/json:
              ID: 0
            text/json:
              ID: 0
            application/xml: "<SubscribeResult>\r\n  <ID>0</ID>\r\n</SubscribeResult>"
            text/xml: "<SubscribeResult>\r\n  <ID>0</ID>\r\n</SubscribeResult>"
        '401':
          description: Unauthorized
        '409':
          description: Duplicate subscription already exists
  /api/Task:
    post:
      description: Create a Task
      operationId: 61af661082f39b42ec9b65b3
      summary: Create a Task
      parameters:
        - name: newTask
          in: body
          schema:
            $ref: '#/definitions/NewTask'
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TaskDetails'
          examples:
            application/json:
              TaskID: 0
              ProjectIDFK: 0
              ProjectTitle: string
              ProjectCode: string
              SectionTitle: string
              SectionIDFK: 0
              Title: string
              Description: string
              DescriptionNoHTML: string
              AssignedToFirstname: string
              AssignedToLastname: string
              AssignedToEmail: string
              AssignedToUserIDFK: string
              DateStart: string
              DateDue: string
              DateCompleted: string
              EstimatedEffort: 0
              ActualTime: 0
              Tags:
                - TagID: 0
                  Name: string
                  Color: string
              AccountTaskTypeIDFK: 0
              TaskStatusCode: string
              TaskStatusName: string
              isCompleteStatus: true
              PercentComplete: 0
              TaskPriorityCode: string
              TaskPriorityName: string
              DateCreated: string
              DateUpdated: string
            text/json:
              TaskID: 0
              ProjectIDFK: 0
              ProjectTitle: string
              ProjectCode: string
              SectionTitle: string
              SectionIDFK: 0
              Title: string
              Description: string
              DescriptionNoHTML: string
              AssignedToFirstname: string
              AssignedToLastname: string
              AssignedToEmail: string
              AssignedToUserIDFK: string
              DateStart: string
              DateDue: string
              DateCompleted: string
              EstimatedEffort: 0
              ActualTime: 0
              Tags:
                - TagID: 0
                  Name: string
                  Color: string
              AccountTaskTypeIDFK: 0
              TaskStatusCode: string
              TaskStatusName: string
              isCompleteStatus: true
              PercentComplete: 0
              TaskPriorityCode: string
              TaskPriorityName: string
              DateCreated: string
              DateUpdated: string
            application/xml: "<TaskDetails>\r\n  <TaskID>0</TaskID>\r\n  <ProjectIDFK>0</ProjectIDFK>\r\n  <ProjectTitle>string</ProjectTitle>\r\n  <ProjectCode>string</ProjectCode>\r\n  <SectionTitle>string</SectionTitle>\r\n  <SectionIDFK>0</SectionIDFK>\r\n  <Title>string</Title>\r\n  <Description>string</Description>\r\n  <DescriptionNoHTML>string</DescriptionNoHTML>\r\n  <AssignedToFirstname>string</AssignedToFirstname>\r\n  <AssignedToLastname>string</AssignedToLastname>\r\n  <AssignedToEmail>string</AssignedToEmail>\r\n  <AssignedToUserIDFK>string</AssignedToUserIDFK>\r\n  <DateStart>string</DateStart>\r\n  <DateDue>string</DateDue>\r\n  <DateCompleted>string</DateCompleted>\r\n  <EstimatedEffort>0</EstimatedEffort>\r\n  <ActualTime>0</ActualTime>\r\n  <Tags>\r\n    <TagID>0</TagID>\r\n    <Name>string</Name>\r\n    <Color>string</Color>\r\n  </Tags>\r\n  <AccountTaskTypeIDFK>0</AccountTaskTypeIDFK>\r\n  <TaskStatusCode>string</TaskStatusCode>\r\n  <TaskStatusName>string</TaskStatusName>\r\n  <isCompleteStatus>true</isCompleteStatus>\r\n  <PercentComplete>0</PercentComplete>\r\n  <TaskPriorityCode>string</TaskPriorityCode>\r\n  <TaskPriorityName>string</TaskPriorityName>\r\n  <DateCreated>string</DateCreated>\r\n  <DateUpdated>string</DateUpdated>\r\n</TaskDetails>"
            text/xml: "<TaskDetails>\r\n  <TaskID>0</TaskID>\r\n  <ProjectIDFK>0</ProjectIDFK>\r\n  <ProjectTitle>string</ProjectTitle>\r\n  <ProjectCode>string</ProjectCode>\r\n  <SectionTitle>string</SectionTitle>\r\n  <SectionIDFK>0</SectionIDFK>\r\n  <Title>string</Title>\r\n  <Description>string</Description>\r\n  <DescriptionNoHTML>string</DescriptionNoHTML>\r\n  <AssignedToFirstname>string</AssignedToFirstname>\r\n  <AssignedToLastname>string</AssignedToLastname>\r\n  <AssignedToEmail>string</AssignedToEmail>\r\n  <AssignedToUserIDFK>string</AssignedToUserIDFK>\r\n  <DateStart>string</DateStart>\r\n  <DateDue>string</DateDue>\r\n  <DateCompleted>string</DateCompleted>\r\n  <EstimatedEffort>0</EstimatedEffort>\r\n  <ActualTime>0</ActualTime>\r\n  <Tags>\r\n    <TagID>0</TagID>\r\n    <Name>string</Name>\r\n    <Color>string</Color>\r\n  </Tags>\r\n  <AccountTaskTypeIDFK>0</AccountTaskTypeIDFK>\r\n  <TaskStatusCode>string</TaskStatusCode>\r\n  <TaskStatusName>string</TaskStatusName>\r\n  <isCompleteStatus>true</isCompleteStatus>\r\n  <PercentComplete>0</PercentComplete>\r\n  <TaskPriorityCode>string</TaskPriorityCode>\r\n  <TaskPriorityName>string</TaskPriorityName>\r\n  <DateCreated>string</DateCreated>\r\n  <DateUpdated>string</DateUpdated>\r\n</TaskDetails>"
    delete:
      description: Delete a Task
      operationId: 61af661155395f7f4d8a75ea
      summary: Delete a Task
      parameters:
        - name: TaskID
          in: query
          description: Format - int64.
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiTaskDelete200TextXmlResponse'
          examples:
            application/json: {}
            text/json: {}
            application/xml: <ApiTaskDelete200ApplicationXmlResponse />
            text/xml: <ApiTaskDelete200TextXmlResponse />
    get:
      description: Gets list of Tasks
      operationId: 61af6616e6715c56d438fc2e
      summary: Gets list of Tasks
      parameters:
        - name: UpdatedAfter
          in: query
          description: >-
            Format - date-time (as date-time in RFC3339). Optional filter to
            records updated after a specific date.
          type: string
        - name: pageSize
          in: query
          description: Format - int32. Number of items per page. Defaults to 20.
          type: integer
        - name: pageNumber
          in: query
          description: Format - int32. Page to display. Starts from 1. Defaults to 1
          type: integer
        - name: Sort
          in: query
          description: >-
            Optional sorting instruction. Currently possible values:
            "DateUpdated", "DateCreated", "DateUpdated desc", "DateCreated
            desc", "SectionTitle", "Title"
          type: string
        - name: isComplete
          in: query
          description: >-
            Optional filter to only display tasks linked to a Task Status where
            isComplete=false, or where isComplete=true
          type: boolean
        - name: ProjectID
          in: query
[...]
